{%- extends "_template.html" %}
{%- import "bootstrap/wtf.html" as wtf %}

{% block site %}

<div class="content">

    <div class="fullscreen">
        {%- with messages = get_flashed_messages(with_categories=True) %}
        {%- if messages %}
        <div class="error-messages">
            {% for cat, msg in messages %}
            <div class="message {{ cat }}">{{ msg }}</div>
            {% endfor %}
        </div>
        {%- endif %}
        {%- endwith %}
        <div class="interstitial-page">
            <h1>Log in to continue</h1>
            <p>Please verify your identity by logging in through one of the following options. We will not save your information or use it for any purpose other than to verify that you are a human. For more info, check out our <a href="{{ config.get('BRANDING_PRIVACY_URL') }}">privacy policy</a>.</p>
            <br><br>
            <a href="{{ url_for('auth.oauth_authorize', provider='facebook') }}"><input class="primary" type="submit" value="Log in through Facebook"></a>&nbsp;&nbsp; or &nbsp;&nbsp;<a href="{{ url_for('auth.oauth_authorize', provider='google') }}"><input class="primary" type="submit" value="Log in through Google"></a>
        </div>
    </div>

</div>

{% endblock %}
