[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "*"
flask-bootstrap = "*"
flask-caching = "*"
flask-login = "*"
flask-mail = "*"
flask-migrate = "*"
"flask-rq2" = "*"
flask-sqlalchemy = "*"
flask-sslify = "*"
flask-wtf = "*"
"geoalchemy2" = "*"
gunicorn = "*"
python-dateutil = "*"
raven = "*"
redis = "*"
requests = "*"
shapely = "*"
wtforms = "*"
rauth = "*"
"psycopg2-binary" = "*"


[dev-packages]

