{%- extends "admin/_template.html" %}
{%- import "bootstrap/wtf.html" as wtf %}

{% block site %}
{{ super() }}

<h3>User</h3>

<dl class="dl-horizontal">
    <dt>Created At</dt>
    <dd>{{ user.created_at }}</dd>

    <dt>Name</dt>
    <dd>{{ user.name }}</dd>

    <dt>Email</dt>
    <dd>{{ user.email }}</dd>

    <dt>Phone Number</dt>
    <dd>{{ user.phone_number }}</dd>

    <dt>Contact Method</dt>
    <dd>{{ user.preferred_contact_method }}</dd>

    <dt>Gender</dt>
    <dd>{{ user.gender }}</dd>
</dl>

<h3>Roles</h3>

{% if user.has_roles('admin') %}
{% if user != current_user %}
<a class="btn btn-primary" href="{{ url_for('admin.user_toggle_role', user_id=user.id, role_name='admin') }}">Remove admin</a>
{% endif %}
{% else %}
<a class="btn btn-primary" href="{{ url_for('admin.user_toggle_role', user_id=user.id, role_name='admin') }}">Make admin</a>
{% endif %}


<dl class="dl-horizontal">
{% for role in user.roles %}
    <dt>{{ role.name }}</dt>
    <dd>{{ role.description }}</dd>
{% else %}
    <dd>No roles set yet.</dd>
{% endfor %}
</dl>

<h3>Purge</h3>

<a class="btn btn-danger" href="{{ url_for('admin.user_purge', user_id=user.id) }}">Purge user</a>

{% endblock %}
