{%- extends "_template.html" %}
{%- import "bootstrap/wtf.html" as wtf %}

{% block site %}
<<div class="content">

	<div class="fullscreen">
		<h1>Are you sure you want to permanently delete your account?</h1>
		<p>This action cannot be undone. You will be removed from all carpools and you will stop receiving further emails.</p>
		<br>
		<p>If you are sure you want to delete your account, type your name exactly as found on your profile and confirm below.</p>
		<br>
		<input type="text" name="delete-name" id="delete-name">
		<br><br>
		<input class="secondary" type="submit" value="Cancel and go back">
		<input class="tertiary" type="submit" value="Delete my account">
	</div>

</div>
{% endblock %}
