{%- extends "_template.html" %}
{%- import "bootstrap/wtf.html" as wtf %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
    function updateGenderOptions() {
        if ($("#gender-select").val() == "Self-described") {
            $('#gender-description').addClass('visible');
        } else {
            $('#gender-description').removeClass('visible');
        }
    }

    $(function() {
        updateGenderOptions();
        $("#gender-select").change(function () {
            updateGenderOptions();
        });
    });
</script>
{% endblock %}

{% block site %}
<div class="content">

    <div class="fullscreen">
        {%- with messages = get_flashed_messages(with_categories=True) %}
        {%- if messages %}
        <div class="error-messages">
            {% for cat, msg in messages %}
            <div class="message {{ cat }}">{{ msg }}</div>
            {% endfor %}
        </div>
        {%- endif %}
        {%- endwith %}

        <form method="post" class="form-page">
            {{ form.hidden_tag() }}
            <h1>Edit your profile</h1>
            <p>Make changes to your personal information or delete your account.</p>
            <div class="two-col-layout first-child top-border">
                <div class="two-col-column">
                    <h4>Display Name</h4>
                    {{ form.name(id='user-name', placeholder='Name (or username) of your choice') }}
                    <label>Your drivers/fellow passengers will see this information when you create or request a ride. We recommend using a first name and last initial (e.g. "Tyrion L.").</label>
                    {% if form.name.errors %}
                    <div>
                    {% for err in form.name.errors %}
                    <label class="destructive">{{ err }}</label>
                    {% endfor %}
                    </div>
                    {% endif %}
                </div>
                <div class="two-col-column">
                    <h4>Gender</h4>
                    {{ form.gender(id='gender-select') }}
                    {{ form.gender_self_describe(id='gender-description') }}
                    <label>We ask for this information to ensure that everyone can choose a carpool that they feel comfortable with.</label>
                    {% if form.gender.errors %}
                    <div>
                    {% for err in form.gender.errors %}
                    <label class="destructive">{{ err }}</label>
                    {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>

            <div class="two-col-layout top-border">
                <div class="two-col-column">
                    <h4>Email Address</h4>
                    <p>{{ current_user.email }}</p>
                    <label>You cannot change your email address with this form. If you need to change it, please email us.</label>

                    <h4>Phone Number</h4>
                    {{ form.phone_number(id='user-phone', placeholder='Phone number') }}
                    {% if form.phone_number.errors %}
                    <div>
                    {% for err in form.phone_number.errors %}
                    <label class="destructive">{{ err }}</label>
                    {% endfor %}
                    </div>
                    {% endif %}
                </div>
                <div class="two-col-column">
                    <h4>Preferred Driver Contact Method</h4>
                    {{ form.preferred_contact() }}
                    <label>This is how drivers will contact passengers once a carpool has been arranged. (System notifications from Nomad will always be sent by email.)</label>
                    {% if form.preferred_contact.errors %}
                    <div>
                    {% for err in form.preferred_contact.errors %}
                    <label class="destructive">{{ err }}</label>
                    {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>

            <div class="two-col-layout top-border right-align">
                <input class="btn btn-primary" type="submit" value="Save">
            </div>

            <div class="top-border">
                <h4>Delete your account</h4>
                <p>Deleting your account will remove you from all carpools and you will stop receiving further emails.</p>
                <br>
                <p><a class="btn btn-danger" href="{{ url_for('auth.profile_delete') }}">Delete account</a></p>
            </div>

        </form>
    </div>

</div>

{% endblock %}
