{%- extends "_template.html" %}
{%- import "bootstrap/wtf.html" as wtf %}

{% block site %}
<div class='page-header'>
    <h1>Your Profile</h1>
</div>

<div class='row'>
    <div class='col-md-6'>
        <form class='form' method='post'>
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.name) }}
        {{ wtf.form_field(form.gender) }}
        {{ wtf.form_field(form.email) }}
        {{ wtf.form_field(form.phone_number, type='tel') }}
        {{ wtf.form_field(form.preferred_contact) }}
        {{ wtf.form_field(form.submit) }}
        </form>
    </div>
    <div class='col-md-6 well'>
        <h4>Delete your account</h4>
        <p>Deleting your account will remove you from all carpools and you will stop receiving further emails.</p>
        <a class="btn btn-danger" role="button" href="{{ url_for('auth.profile_delete') }}">Delete your account</a>
    </div>
</div>
{% endblock %}
