{%- extends "_template.html" %}
{%- import "bootstrap/wtf.html" as wtf %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
        map.setCenter(new google.maps.LatLng(position.coords.latitude, position.coords.longitude));
        map.setZoom(11);
    });
}

$("#location-seed").on('keydown', function(e) {
    if (e.keyCode == 13) {
        e.preventDefault();
        e.stopPropagation();
    }
});

var map = null;
function localInitMap() {
    var geocoder = new google.maps.Geocoder;
    map = new google.maps.Map(document.getElementById('mini-map'), {
        center: {lat: 38.518, lng: -97.328},
        zoom: 3,
        styles: mapStyleDiscreet
    });
    var marker = new google.maps.Marker({
        position: {lat: 0, lng: 0},
        draggable: true,
    });
    var from_input = document.getElementById('location-seed');
    var from_options = {
        componentRestrictions: {country: 'us'}
    };
    var from_ac = new google.maps.places.Autocomplete(from_input, from_options);
    from_ac.addListener('place_changed', function() {
        var place = from_ac.getPlace();

        if (!place.geometry) {
            window.alert("Nothing found there");
            return false;
        }

        marker.setPosition(place.geometry.location);
        updateMarkerLocationDescription();
        marker.setMap(map);

        if (place.geometry.viewport) {
            map.fitBounds(place.geometry.viewport);
        } else {
            map.setCenter(place.geometry.location);
            map.setZoom(17);  // Why 17? Because it looks good.
        }
    });
    marker.addListener('dragend', function() {
        updateMarkerLocationDescription();
    });

    function updateMarkerLocationDescription() {
        $("#departure_lat").val(marker.getPosition().lat());
        $("#departure_lon").val(marker.getPosition().lng());

        geocoder.geocode({location: marker.getPosition()}, function(results, status) {
            if (status === 'OK') {
                if (results[0]) {
                    $("#location-description").val(results[0].formatted_address);
                } else {
                    console.log("No reverse geocoder results found");
                }
            } else {
                console.log("Reverse geocode failed because: " + status);
            }
        });
    }
}

</script>
{% endblock %}

{% block site %}
<div class="fullscreen">
    {%- with messages = get_flashed_messages(with_categories=True) %}
    {%- if messages %}
    <div class="error-messages">
        {% for cat, msg in messages %}
        <div class="message {{ cat }}">{{ msg }}</div>
        {% endfor %}
    </div>
    {%- endif %}
    {%- endwith %}

    <form method="post" class="form-page">
        {{ form.hidden_tag() }}
        <h4>Start a new carpool</h4>
        <h1>Provide carpool details</h1>
        <p>Thanks for driving! Please provide some details so that other volunteers can sign up to join your carpool.</p>

        <div class="two-col-layout first-child top-border">
            <div class="two-col-column">
                <h4>Destination</h4>
                {{ form.destination() }}
                {% if form.destination.errors %}
                <div>
                {% for err in form.destination.errors %}
                <label class="destructive">{{ err }}</label>
                {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>

        <div class="two-col-layout top-border">
            <div class="two-col-column">
                <h4>Pickup / Dropoff Location</h4>
                <label>Find a location on the map:</label>
                <input type="text" id="location-seed"></input>

                {% if form.departure_name.errors %}
                <div>
                {% for err in form.departure_name.errors %}
                <label class="destructive">{{ err }}</label>
                {% endfor %}
                </div>
                {% endif %}

                <label>Then drag the pin to your desired carpool pickup location:</label>
                <div id="mini-map"></div>
                {{ form.departure_lat() }}
                {{ form.departure_lon() }}
            </div>
            <div class="two-col-column location-explainer">
                <p>Your carpool pickup/dropoff location will be shown to passengers as:</p>
                {{ form.departure_name(id='location-description') }}
                <br>
                <label class="destructive">We strongly recommend choosing a landmark or other public place as your pickup / dropoff location. Please use your best judgment to ensure everyone’s safety!</label>
            </div>
        </div>

        <div class="two-col-layout top-border">
            <div class="two-col-column">
                <h4>Departure Date</h4>
                {{ form.departure_date(id='departure-date', type='date', placeholder='yyyy-mm-dd') }}
                {{ form.departure_hour(id='departure-time') }}
                {% if form.departure_date.errors %}
                <div>
                {% for err in form.departure_date.errors %}
                <label class="destructive">{{ err }}</label>
                {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="two-col-column">
                <h4>Return Date</h4>
                {{ form.return_date(id='return-date', type='date', placeholder='yyyy-mm-dd') }}
                {{ form.return_hour(id='return-time') }}
                {% if form.return_date.errors %}
                <div>
                {% for err in form.return_date.errors %}
                <label class="destructive">{{ err }}</label>
                {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>

        <div class="two-col-layout top-border">
            <div class="two-col-column">
                <h4>Vehicle Description</h4>
                {{ form.vehicle_description(id='vehicle-desc', placeholder='e.g. Black Honda Accord') }}
                <label>This will only be shown to passengers once you accept them into your carpool.</label>
                {% if form.vehicle_description.errors %}
                <div>
                {% for err in form.vehicle_description.errors %}
                <label class="destructive">{{ err }}</label>
                {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="two-col-column">
                <h4>Number of Passengers</h4>
                {{ form.vehicle_capacity(id='vehicle-capacity') }}
                <label>Not including yourself.</label>
                {% if form.vehicle_capacity.errors %}
                <div>
                {% for err in form.vehicle_capacity.errors %}
                <label class="destructive">{{ err }}</label>
                {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>

        <div class="top-border">
            <h4>Additional Notes to Passengers</h4>
            {{ form.notes(class='textarea-notes', placeholder='e.g. Are you flexible on departure time? For passengers who may have with allergies, do you ever smoke or have animals in the car?') }}
            {% if form.notes.errors %}
            <div>
            {% for err in form.notes.errors %}
            <label class="destructive">{{ err }}</label>
            {% endfor %}
            </div>
            {% endif %}
        </div>

        <div class="two-col-layout top-border right-align">
            <input class="btn btn-primary" type="submit" value="Create new carpool">
        </div>
    </form>
</div>

{% endblock %}
