{%- extends "_template.html" %}
{%- import "bootstrap/wtf.html" as wtf %}

{% block site %}
<div class="content">

    <div class="fullscreen">

        {%- with messages = get_flashed_messages(with_categories=True) %}
        {%- if messages %}
        <div class="error-messages">
            {% for cat, msg in messages %}
            <div class="message {{ cat }}">{{ msg }}</div>
            {% endfor %}
        </div>
        {%- endif %}
        {%- endwith %}

        <form method='post' class="form-page" id="join-carpool-form">
            {{ form.hidden_tag() }}
            <h4>Join this carpool</h4>
            <h1>Confirm your details</h1>
            <p>To join this carpool, please verify your profile information and make any changes as needed.</p>

            <div class="top-border">
                <h4>Questions / Notes to Driver</h4>
                {{ form.notes(class_='textarea-notes') }}
            </div>
            <div class="two-col-layout top-border right-align">
                {{ form.submit(class_='btn btn-primary') }}
            </div>
        </form>
    </div>

</div>

{% endblock %}
