{%- extends "_template.html" %}
{%- import "bootstrap/wtf.html" as wtf %}

{#
    load all carpools as geoJSON from /carpools/starts.geojson

    /carpools/find.html
        sort features by leave time
        zoom map to fit all features
        if user geolocation results,
            sort features by distance from user location
            zoom map to fit features within 100km or at least 3 features

    /carpools/find.html?q=92683
        get lat/lng of query from Google Geocoder
        sort features by distance from query location
        zoom map to fit features within 100km or at least 3 features

    /carpools/find.html?lat=33.9802893&lon=-118.4517449
        sort features by distance from query location
        zoom map to fit features within 100km or at least 3 features
#}

{% block scripts %}
<script>
    // sanitized query from URL: q=12345
    let userQuery = '{{user_query}}';  // eslint-disable-line no-unused-vars
    const userLatLon = {};
    {% if lat and lon %}
    userLatLon.lat = {{lat}};
    userLatLon.lng = {{lon}};
    {% endif %}
    const geoJSONUrl = "{{ url_for('carpool.start_geojson') }}?"; // eslint-disable-line no-unused-vars
    const newCarpoolUrl = "{{ url_for('carpool.new', lat=loc_lat, lon=loc_lon) }}"; // eslint-disable-line no-unused-vars
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/find.js') }}"></script>
{{super()}}
{% endblock %}

{% block site %}

<div class="content constrained">

    <div class="carpool-results">
        <h1 class="hidden-lg">
            Find rides near
            <form class="ride-form">
                <input type="hidden" name="lat">
                <input type="hidden" name="lon">
                <input type="text" name="q" class="form-control input-lg location-input" id="findLocation" placeholder="Zip code or City, State" value="{{user_query}}" />
            </form>
        </h1>
        <h1 class="visible-lg-block">
            Find rides near
            {% if user_query %}
                {{user_query}}
            {% else %}
                you
            {% endif %}
        </h1>
        <div class="geocode-error">
            Sorry, we can't understand that location. Please try again.
        </div>
        <div id="search-results">
        </div>
    </div>

    <div class="carpool-map">
        <div id="background-map"></div>
    </div>

</div>

{% endblock %}
