{%- extends "_template.html" %}
{%- import "bootstrap/wtf.html" as wtf %}

{% block scripts %}
{{super()}}
<script>
$(function () {
    $('#submit').on('click', function() {
        doSearch();
    });
});

function doSearch() {
    var url = '{{ url_for('carpool.start_geojson') }}?';
    var parts = [];

    {% if loc_lat and loc_lon %}
    parts.push('near.lat=' + encodeURIComponent({{ loc_lat }}));
    parts.push('near.lon=' + encodeURIComponent({{ loc_lon }}));
    parts.push('near.radius=10000');
    {% endif %}

    url += parts.join('&');

    var results = $('#search-results');
    results.empty();
    map.data.forEach(function(feature) {
        map.data.remove(feature);
    });
    map.data.loadGeoJson(url, null, mapDataCallback);
}

function localInitMap() {
    map = new google.maps.Map(document.getElementById('background-map'), {
        center: {lat: 38.518, lng: -97.328},
        zoom: 3,
        styles: mapStyleDiscreet
    });
    doSearch();
}

function showCarpoolDetails(carpoolId) {
    window.location = carpoolId;
    return;
    // $.ajax({
    //     type: "GET",
    //     url: carpoolId + '/embed',
    //     success: function(data) {
    //         $('#detail-pane').html(data);
    //         $('#detail-pane').show();
    //     }
    // })
}

function showCarpoolDetailsDivClickHandler(event) {
    showCarpoolDetails(event.data);
}

function mapDataCallback(features) {
    var results = $('#search-results');
    results.empty();

    if (features.length > 0) {
        for (var i = 0; i < features.length; i++) {
            var feature = features[i];
            var resultdiv = $('<div class="result"><h3 class="result-title">' + feature.getProperty('from_place') + ' to ' + feature.getProperty('to_place') + '</h3><p>' + feature.getProperty('seats_available') + ' seats available</p><p>Departs: ' + feature.getProperty('leave_time') + '</p><p>Returns: ' + feature.getProperty('return_time') + '</p><p>Destination: '+ feature.getProperty('to_place') + '</p></div>');
            resultdiv.click(feature.getId(), showCarpoolDetailsDivClickHandler);
            results.append(resultdiv);
        }
    } else {
        {% if loc_lat and loc_lon %}
        var resultdiv = $('<div class="result"><h3>No carpools nearby</h3><p>Will you consider <a href="{{ url_for('carpool.new', lat=loc_lat, lon=loc_lon) }}">starting one</a>?</p></div>');
        {% else %}
        var resultdiv = $('<div class="result"><h3>No carpools nearby</h3><p>Will you consider <a href="{{ url_for('carpool.new') }}">starting one</a>?</p></div>');
        {% endif %}
        results.append(resultdiv);
    }

    map.data.addListener('click', function(event) {
        showCarpoolDetails(event.feature.getId());
    });
}
</script>
{% endblock %}

{% block site %}


<div class="content constrained">

    <div class="left-bar">
        {% if loc_name %}
        <h1>Find rides near {{ loc_name }}</h1>
        {% else %}
        <h1>Find rides near you</h1>
        {% endif %}
        <div id="search-results">
        </div>
    </div>

    <!-- <div class="right-bar active"> -->
    <div class="right-bar">
        <div id="background-map"></div>
        <div id="detail-pane" class="active"></div>
    </div>

</div>

{% endblock %}
