{%- extends "_template.html" %}
{%- import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{super()}}
<style>
    #background-map {
        height: 300px;
        width: 100%;
    }
</style>
{% endblock %}

{% block scripts %}
{{super()}}
<script>
var place = null;
var map = null;

$(function () {
    $('#depart_date').datetimepicker({
        format: 'MM/DD/YYYY',
        minDate: moment(),
        useCurrent: false,
    });
    $('#submit').on('click', function() {
        doSearch();
    });
});

function doSearch() {
    var url = '{{ url_for('carpool.start_geojson') }}?';
    var parts = [];

    if (place) {
        parts.push('near.lat=' + encodeURIComponent(place.geometry.location.lat()));
        parts.push('near.lon=' + encodeURIComponent(place.geometry.location.lng()));
    }

    var date_input = document.getElementById('depart_date');
    if (date_input.value) {
        parts.push('min_leave_date=' + encodeURIComponent(date_input.value));
    }

    url += parts.join('&');

    var results = $('#search-results');
    results.empty();
    map.data.forEach(function(feature) {
        map.data.remove(feature);
    });
    map.data.loadGeoJson(url, null, mapDataCallback);
}

function initMap() {
    map = new google.maps.Map(document.getElementById('background-map'), {
        center: {lat: 38.518, lng: -97.328},
        zoom: 12,
        styles: mapStyleDiscreet
    });
    doSearch();

    var from_input = document.getElementById('leaving_from');
    var from_ac = new google.maps.places.Autocomplete(from_input, {
        componentRestrictions: {country: 'us'}
    });
    from_ac.bindTo('bounds', map);
    from_ac.addListener('place_changed', function() {
        var chosen = from_ac.getPlace();

        if (!chosen.geometry) {
            console.log("No details available for from autocomplete: '" + chosen.name + "'");
            return;
        }

        place = chosen;
    });

    // need to figure out where this makes sense to include custom markers

    for (var i=0; i < baltLocations.length; i++) {
        markers.push(new google.maps.Marker({
            position: new google.maps.LatLng(baltLocations[i].lat, baltLocations[i].lng),
            map: map,
            icon: normalIcon()
        }));
    }
}

function mapDataCallback(features) {
    var results = $('#search-results');
    results.empty();
    for (var i = 0; i < features.length; i++) {
        var feature = features[i];
        results.append(
        '<div class="result"> <h3 class="result-title">[Departure City] to [Destination City]</h3><p>' +  feature.getProperty('seats_available') + ' seats available</p><p>Departs: ' + feature.getProperty('leave_time') + '</p><p>Returns: ' + feature.getProperty('return_time') + '</p><p>Destination: '+ feature.getProperty('to_place') + '[eventually this should read as something like: Joe Candidates Office (Chantilly, VA)]</p></div>'
        );
        // not currently used 
        // feature.getProperty('driver_gender');
        // feature.getId();
    }

    map.data.addListener('click', function(event) {
        window.location = event.feature.getId();
    });
}

function normalIcon() {
  return {
    url: 'img/ic_marker_inactive.png'
    };
}
function highlightedIcon() {
  return {
    url: 'img/ic_marker_active.png'
  };
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key={{config.get('GOOGLE_MAPS_API_KEY')}}&libraries=places&callback=initMap" async defer></script>
{% endblock %}

{% block site %}


<div class="content">

    <div class="left-bar">
        <h1>Find rides near you</h1>
        <div id="search-results results-box">

            <!-- result template -->
            <div class="result">
                <h3 class="result-title">TEST: Baltimore to Chantilly</h3>
                <p>4 seats available</p>
                <p>Departs: Sat Jun 5 (morning)</p>
                <p>Returns: Sun Jun 6 (afternoon)</p>
                <p>Destination: Joe Candidate's Office (Chantilly, VA)</p>
            </div>

        </div>
    </div>

    <!-- <div class="right-bar active"> -->
    <div class="right-bar">
        <div id="background-map"></div>
        <div class="detail-pane active">
            <div class="detail-top">
                <div class="sub-left">
                    <h4>Ride Details</h4>
                    <h1>Baltimore to Chantilly</h1>
                </div>
                <div class="sub-right">
                    <p class="caption">Status: 4 seats available</p>
                    <input class="primary" type="submit" value="Request to join carpool">
                    
                </div>
            </div>
            <div class="detail-bottom">
                <div class="sub-left">
                    <h4>Departs</h4>
                    <p>Sat, Jun 5 - Morning</p>
                    <h4>Returns</h4>
                    <p>Sun, Jun 5 - Afternoon</p>
                    <h4>Approx drive time</h4>
                    <p>1 h 50 min each way</p>
                </div>
                <div class="sub-middle">
                    <h4>Pickup</h4>
                    <p>Johns Hopkins - Homewood Field 
                        <br>111 W University Pkwy 
                        <br>Baltimore, MD 21210
                    </p>
                    <h4>Dropoff</h4>
                    <p>Joe Candidate’s Office 
                        <br>13780 Lowe St 
                        <br>Chantilly, VA 20151
                    </p>
                </div>
                <div class="sub-right">
                    <h4>Carpool Details</h4>
                    <p>Driver: Frank U. (Male)</p>
                    <p>Vehicle: Black 2015 Honda Accord</p>
                    <p>Luggage space: 1 medium-sized bag per passenger</p>
                    <h4>Additional notes:</h4>
                    <p>Flexible on departure time. Non-smoking. Not good for people with dog / cat allergies</p>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- ==================== -->



<div class='row'>
    <div class="col-md-2">
        <div class="form-group">
            <label class="control-label" for="depart_date">Departure Date</label>
            <input class="form-control" id="depart_date" name="depart_date" required="" type="text" value="">
        </div>
        <div class="form-group">
            <label class="control-label" for="leaving_from">Leaving From</label>
            <input class="form-control" id="leaving_from" name="leaving_from" required="" type="text" value="">
        </div>
        <div class="form-group">
            <input class="btn btn-default" id="submit" name="submit" type="submit" value="Search">
        </div>
    </div>
</div>
{% endblock %}
