{%- extends "_template.html" %}
{%- import "bootstrap/wtf.html" as wtf %}

{% block site %}
<div class="content carpool-detail">

    <div class="fullscreen">
        {% include '_flash_messages.html' %}

        <div class="form-page">
            {% if not current_user.has_roles('admin') %}
                <h4>Error 403</h4>
            {% else %}

            <h4 class="text-danger">To {{ pool.destination.name }} on {{ pool.leave_time | humanize }}</h4>

	          {% if not pool.future %}
                <h3>This carpool has left!</h3>
            {%- endif %}

	          {% if pool.canceled %}
                <p class="message error">This carpool has been canceled!</p>
                {% if pool.cancel_reason %}
                    <p>Reason for cancellation: {{ pool.cancel_reason }}</p>
                {%- endif %}
            {%- endif %}
            <div class="two-col-layout first-child top-border">
                <div class="two-col-column">
                    <h4>Departure Point</h4>
                    <p><a href="https://maps.google.com/?q={{ pool.from_lat_lng | urlencode }}" target="_blank">{{ pool.from_place }}</a></p>
                    <h4>Departs</h4>
                    <p>{{ pool.leave_time | humanize }}</p>
                    <h4>Returns</h4>
                    <p>{{ pool.return_time | humanize }}</p>
                </div>
                <div class="two-col-column">
                    <h4>Destination</h4>
                    <p>{{ pool.destination.name }}</p>
                    {% if current_user.is_driver(pool) or (current_user_ride_request and current_user_ride_request.status == 'approved') %}
                        <p><a href="https://maps.google.com/?q={{ pool.destination.address | urlencode }}" target="_blank">{{ pool.destination.address }}</a></p>
                    {% endif %}
                </div>
            </div>

            <div class="two-col-layout">
                <div class="two-col-column">
                    <h4>Carpool Details</h4>
                    {% if current_user_ride_request and current_user_ride_request.status != 'approved' %}
                    <p>Driver Gender: {{ pool.driver.gender_string() }}</p>
                    {% else %}
                    <p>Driver: {{ pool.driver.name }} ({{ pool.driver.gender_string() }})</p>
                    <p>Vehicle: {{ pool.vehicle_description or "(None supplied)" }}</p>
                    {% endif %}
                </div>
                <div class="two-col-column">
                    <h4>Additional notes</h4>
                    <p>{{ pool.notes or "(None supplied)"}}</p>
                </div>
                <div class="two-col-column">
                    <h4>Link to this carpool</h4>
                    <p><a href="{{ url_for('carpool.details', uuid=pool.uuid) }}">{{ url_for('carpool.details', uuid=pool.uuid) }}</a></p>
                </div>
            </div>


        {% if (pool.future and not pool.canceled) %}
            <div class="two-col-layout">
                <div class="two-col-column with-buttons">
                        {% if not pool.seats_available %}
                            <p>This carpool is full.
                            {% if pool.get_ride_requests_query(['requested']).count() %}
                                Please let people awaiting a response know that they should find another carpool.
                            {% endif %}
                        </p>
                        {% endif %}
                </div>
                {% if not pool.canceled %}
                <div class="two-col-column">
                    <a class="btn btn-primary" href="{{ url_for('carpool.edit', uuid=pool.uuid) }}">Edit this carpool</a>
                    <a class="btn btn-danger" href="{{ url_for('carpool.cancel', uuid=pool.uuid) }}">Cancel this carpool</a>
                </div>
                {% endif %}
            </div>

            {% if pool.get_ride_requests_query().count() %}
            <div class="two-col-layout top-border">
                <h4>Passenger Requests</h4>

                <ul class="passenger-requests">
                {% for request in pool.get_ride_requests_query() %}

                    <li><strong>{{ request.person.name }}</strong>
                        <br>Gender: {{ request.person.gender_string() }}
                        <br>Notes: <span class="notes">{{ request.notes }}</span>
                        <br>
                    {%- if request.status == 'requested' %}
                    <div>
                    <strong>Waiting for a response&nbsp;</strong>
                    </div>
                        {% if pool.seats_available %}
                        <form name="approve_rider" action="{{ url_for('carpool.modify_ride_request', action='approve', carpool_uuid=pool.uuid, request_uuid=request.uuid) }}" method="POST" id="approve-rider-form">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <button class="btn btn-success left-button carpool-control-button" type="submit" name="approve_button">Approve</button>
                        </form>
                        {% endif %}
                        <form name="deny_rider" action="{{ url_for('carpool.modify_ride_request', action='deny', carpool_uuid=pool.uuid, request_uuid=request.uuid) }}" method="POST" id="deny-rider-form">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <button class="btn btn-danger carpool-control-button" type="submit" name="deny_button">Deny</button>
                        </form>
                    {%- elif request.status == 'approved' %}
                    <strong>Approved request&nbsp;</strong>
                        <form name="deny_approved_rider" action="{{ url_for('carpool.modify_ride_request', action='deny', carpool_uuid=pool.uuid, request_uuid=request.uuid) }}" method="POST" id="deny-approved-rider-form">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <button class="btn btn-danger carpool-control-button" type="submit" name="deny_button">Deny</button>
                        </form>
                    {%- elif request.status == 'denied' %}
                    <strong>Denied request&nbsp;</strong>
                        <form name="approve_denied_rider" action="{{ url_for('carpool.modify_ride_request', action='approve', carpool_uuid=pool.uuid, request_uuid=request.uuid) }}" method="POST" id="approve-denied-rider-form">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <button class="btn btn-success carpool-control-button" type="submit" name="approve_button">Approve</button>
                        </form>
                    {%- endif %}
                        </small>
                    </li>

                {% endfor %}

                </ul>
            </div>
            {% endif %}
        {%- endif %}

         {% endif %}
        </div>
    </div>

</div>

{% endblock %}
