{%- extends "_template.html" %}
{%- import "bootstrap/wtf.html" as wtf %}

{% block site %}
<div class="content">

    <div class="fullscreen">
        {%- with messages = get_flashed_messages(with_categories=True) %}
        {%- if messages %}
        <div class="error-messages">
            {% for cat, msg in messages %}
            <div class="message {{ cat }}">{{ msg }}</div>
            {% endfor %}
        </div>
        {%- endif %}
        {%- endwith %}

        <div class="form-page">

            {% set current_user_ride_request = pool.get_current_user_ride_request() %}

            <h4>Carpool Details</h4>
            <h1>{{ pool.from_place }} to {{ pool.destination.name }}</h1>

            <h4>Carpool Status</h4>

        {% if current_user_ride_request and current_user_ride_request.status == 'approved'  %}
            <div class="two-col-layout">
                <div class="two-col-column">
                    <p>You are confirmed for this carpool!</p>
                </div>
                <div class="two-col-column">
                    <form name="cancel_rider" action="{{ url_for('carpool.modify_ride_request', carpool_uuid=pool.uuid, request_uuid=current_user_ride_request.uuid, action='cancel') }}" method="POST">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <button class="left-button carpool-control-button" type="submit" name="cancel_button">Cancel your seat in carpool</button>
                    </form>
                </div>
            </div>

        {% elif current_user_ride_request %}
            <div class="two-col-layout">
                <div class="two-col-column">
                    <p>Your ride request is pending.</p>
                </div>
                <div class="two-col-column">
                    <form name="cancel_rider" action="{{ url_for('carpool.modify_ride_request', carpool_uuid=pool.uuid, request_uuid=current_user_ride_request.uuid, action='cancel') }}" method="POST">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <button class="left-button carpool-control-button" type="submit" name="cancel_button">Cancel your seat request</button>
                    </form>
                </div>
            </div>

        {% elif pool.current_user_is_driver %}
            <div class="two-col-layout">
                <div class="two-col-column">
                    <p>You're the driver of this carpool!</p>
                    {% if not pool.seats_available %}
                        <p>Your carpool is full.
                        {% if pool.get_ride_requests_query(['requested']).count() %}
                            Please let people awaiting your response know that they should find another carpool.
                        {% endif %}
                    </p>
                    {% endif %}
                </div>
                <div class="two-col-column">
                    <a class="btn btn-danger" href="{{ url_for('carpool.cancel', uuid=pool.uuid) }}">Cancel your carpool</a>
                    <a class="btn" href="{{ url_for('carpool.edit', uuid=pool.uuid) }}">Edit your carpool</a>
                </div>
            </div>

            <div class="two-col-layout top-border">
                <h4>Driver's Corner: Passenger Requests</h4>

                <ul>
                {% for request in pool.get_ride_requests_query() %}

                    <li><strong>{{ request.person.name }}</strong>
                        <br>Gender: {{ request.person.gender_string() }}
                        <br>Notes: {{ request.notes }}
                        <br>
                    {%- if request.status == 'requested' %}
                    <div>
                    <strong>Waiting for your response&nbsp;</strong>
                    </div>
                        {% if pool.seats_available %}
                        <form name="approve_rider" action="{{ url_for('carpool.modify_ride_request', action='approve', carpool_uuid=pool.uuid, request_uuid=request.uuid) }}" method="POST">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <button class="left-button carpool-control-button" type="submit" name="approve_button">Approve</button>
                        </form>
                        {% endif %}
                        <form name="deny_rider" action="{{ url_for('carpool.modify_ride_request', action='deny', carpool_uuid=pool.uuid, request_uuid=request.uuid) }}" method="POST">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <button class="carpool-control-button" type="submit" name="deny_button">Deny</button>
                        </form>
                    {%- elif request.status == 'approved' %}
                    <strong>You approved their request&nbsp;</strong>
                        <form name="deny_approved_rider" action="{{ url_for('carpool.modify_ride_request', action='deny', carpool_uuid=pool.uuid, request_uuid=request.uuid) }}" method="POST">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <button class="carpool-control-button" type="submit" name="deny_button">Deny</button>
                        </form>
                    {%- elif request.status == 'denied' %}
                    <strong>You denied their request&nbsp;</strong>
                        <form name="approve_denied_rider" action="{{ url_for('carpool.modify_ride_request', action='approve', carpool_uuid=pool.uuid, request_uuid=request.uuid) }}" method="POST">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <button class="carpool-control-button" type="submit" name="approve_button">Approve</button>
                        </form>
                    {%- endif %}
                        </small>
                    </li>

                {% endfor %}

                </ul>
            </div>

        {% else %}
            <div class="two-col-layout">
                <div class="two-col-column">
                    <p>
                    {%- if pool.seats_available > 1 %}
                        There are {{ pool.seats_available }} seats available in this carpool.
                    {%- elif pool.seats_available == 1 %}
                        There is 1 seat available in this carpool.
                    {%- else %}
                        There are no more seats available in this carpool.
                    {%- endif %}
                    </p>
                </div>
                <div class="two-col-column">
                    {%- if pool.seats_available > 0 %}
                        <a class="btn btn-primary" href="{{ url_for('carpool.new_rider', carpool_uuid=pool.uuid) }}">Request a seat in carpool</a>
                    {%- else %}
                        <a class="btn disabled">No seats available</a>
                    {%- endif %}
                </div>
            </div>

        {%- endif %}

            <div class="two-col-layout first-child top-border">
                <div class="two-col-column">
                    <h4>Departs</h4>
                    <p>{{ pool.leave_time | humanize }}</p>
                    <h4>Returns</h4>
                    <p>{{ pool.return_time | humanize }}</p>
                </div>
                <div class="two-col-column">
                    <h4>Pickup</h4>
                    <p>{{ pool.from_place }}</p>
                    <h4>Dropoff</h4>
                    <p>{{ pool.destination.name }}</p>
                </div>
            </div>

            <div class="two-col-layout top-border">
                <div class="two-col-column">
                    <h4>Carpool Details</h4>
                    {% if pool.current_user_is_driver %}
                    <p>Driver: {{ pool.driver.name }} ({{ pool.driver.gender_string() }})</p>
                    <p>Vehicle: {{ pool.vehicle_description or "(None supplied)" }}</p>
                    {% elif current_user_ride_request and current_user_ride_request.status == 'approved'  %}
                    <p>Driver: {{ pool.driver.name }} ({{ pool.driver.gender_string() }})</p>
                    <p>Vehicle: {{ pool.vehicle_description or "(None supplied)" }}</p>
                    {% elif current_user_ride_request %}
                    <p>Driver Gender: {{ pool.driver.gender_string() }}</p>
                    {%- endif %}
                </div>
                <div class="two-col-column">
                    <h4>Additional notes</h4>
                    <p>{{ pool.notes or "(None supplied)"}}</p>
                </div>
            </div>

        </div>
    </div>

</div>

{% endblock %}
