<div class="detail-top">
    <div class="sub-left">
        <h4>Ride Details</h4>
        <h1>Baltimore to Chantilly</h1>
    </div>
    <div class="sub-right">
        <p class="caption">Status: {{ pool.seats_available }} seats available</p>
        <a class="btn btn-default" href="{{ url_for('carpool.new_rider', carpool_uuid=pool.uuid) }}" role="button">Request a seat</a>
    </div>

</div>
<div class="detail-bottom">
    <div class="sub-left">
        <h4>Departs</h4>
        <p>{{ pool.leave_time }}</p>
        <h4>Returns</h4>
        <p>{{ pool.return_time }}</p>
        <h4>Approx drive time</h4>
        <p>1 h 50 min each way</p>
    </div>
    <div class="sub-middle">
        <h4>Pickup</h4>
        <p>{{ pool.from_place }}</p>
        <h4>Dropoff</h4>
        <p>{{ pool.to_place }}</p>
    </div>
    <div class="sub-right">
        <h4>Carpool Details</h4>
        <p>Driver: Frank U. (Male)</p>
        <p>Vehicle: Black 2015 Honda Accord</p>
        <p>Luggage space: 1 medium-sized bag per passenger</p>
        <h4>Additional notes:</h4>
        <p>Flexible on departure time. Non-smoking. Not good for people with dog / cat allergies</p>
    </div>
</div>
