.logo {
    width: 68px;
    height: 51px;
    background: url("../img/AZ_Dems_logo.png") center / contain no-repeat;
}

.fullscreen.jumbo {
    background-color: #161a53;
}

.fullscreen.jumbo h1, .fullscreen.jumbo h2, .fullscreen.jumbo h3, .fullscreen.jumbo h4, .fullscreen.jumbo p {
    font-family: altivo,sans-serif;
}

.fullscreen.jumbo h2 {
    font-size: 24px;
}

.jumbo input[type=submit] {
    background-color: #e07456;
}

a {
    color: #4897b5;
}
