html, body {
	height: 100%; 
	width: 100%; 
}


/* ===== GLOBAL ===== */
* {  /*bootstrap overrides*/
  margin: 0;
  padding: 0;
  color: #333;
  font: 400 16px/150% 'Source Sans Pro', Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
h1, h2, h3, h4, p {
	margin: 0;
}

h1 {
	font: 400 28px/140% 'Merriweather', Georgia, serif;
}
h3 {
	font: 600 24px/150% 'Source Sans Pro', Arial, Helvetica, sans-serif;
}
h4 {
	font: 700 16px/150% 'Source Sans Pro', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 10px;
}
a {
	color: rgba(0,168,225,1);
	text-decoration: underline;
}
a.destructive-link {
	color: red;
}

input[type=submit].primary {
	background-color: rgba(0,168,225,1);
	color: white;
	height: 40px;
    padding: 5px 25px;
    border: 0;
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
}
input[type=submit].secondary {
	background-color: rgba(227,28,61,0);
	color: rgba(227,28,61,1);
	height: 40px;
    padding: 5px 25px;
    border: 1px solid rgba(227,28,61,1);
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
}
input[type=text], input[type=email], input[type=tel] {
	width: 400px;
	height: 40px;
	border-radius: 5px; 
	padding: 5px 10px;
    outline: none;
    border: 1px solid rgba(2,46,91,.2);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px; 
	transition: border .5s;
	font: 400 18px/150% 'Source Sans Pro', Arial, Helvetica, sans-serif;
	color: #333;
}


/* ===== HEADER ===== */

.global-header {
	width: 100%;
	height: 70px;
	position: fixed;
	top: 0; 
	left: 0;
	padding: 10px 40px;
	z-index: 20;
	background-color: white;
	/*box-shadow: 0 2px 5px rgba(80,80,80,0.4);*/
	border-bottom: 1px solid rgba(2,46,91,.2);
	display: flex;
	align-items: center;
}

.global-header .logo {
	width: 120px;
	height: 60px;
	margin-right: 20px;
	display: inline-block;
	background: url("http://theinspirationroom.com/daily/interactive/2016/6/underwood-2016-bumper-sticker.jpg") top left / contain no-repeat;
	flex: 0 1 auto;
}
.global-header form {
	display: inline-block;
	flex: 0 1 450px;
}
.global-header input[type=text] {
	width: 400px;
	height: 40px;
    padding: 5px 10px 5px 37px;
    outline: none;
    border: 1px solid rgba(2,46,91,.2);
    border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	transition: border .5s;
	background: url("../img/ic_search_24px.svg") 7px center no-repeat;
	font: 400 18px/150% 'Source Sans Pro', Arial, Helvetica, sans-serif;
	color: #333;
}
.global-header input[type=text]:placeholder {
	color: rgba(2,46,91,.2);
}
.global-header input[type=text]:focus {
	border: 1px solid rgba(0,168,225,1);
}
.global-header .nav-bar {
	display: flex;
	align-items: center;
	font: 400 18px/150% 'Source Sans Pro', Arial, Helvetica, sans-serif;
	flex: 0 1 auto;
	margin-left: auto;
	margin-right: 0;
}
.nav-bar li, .nav-bar div {
	flex: 0 1 auto;
	display: inline-block;
	padding-top: 12px;
	padding-bottom: 5px;
	margin-right: 40px;
	border-top: 1px solid rgba(255,255,255,0); /* invisible border for spacing */
	border-bottom: 1px solid rgba(255,255,255,0); /* invisible border for spacing */
}
.nav-bar li:last-child {
	margin-right: 0;
}

.nav-bar-secondary {
    position: fixed;
    top: 70px;
    padding: 0 10px 10px 10px;
    margin-left: -10px;
    background-color: white;
    border-left: 1px solid rgba(2,46,91,.2);
    border-right: 1px solid rgba(2,46,91,.2);
    border-bottom: 1px solid rgba(2,46,91,.2);
    z-index: 21;
    display: none;
}

.nav-bar a {
	color: #333;
	cursor: pointer;
	text-decoration: none;
}

.nav-bar a:hover {
	color: rgba(0,168,225,1);
}

.nav-dropdown:hover .nav-bar-secondary {
	display: block;
}

.nav-dropdown a.arrow::after {
	content: url(../img/ic_arrow_down_gray.svg);
	position: relative;
    margin-left: 5px;
    top: -1px;
}
.nav-dropdown a.arrow:hover::after {
	content: url(../img/ic_arrow_down_blue.svg);
	position: relative;
    margin-left: 5px;
    top: -1px;
}

/* ===== CONTENT BODY ===== */

.content {
	width: 100%;
	height: 100%;
	display: flex;
}

/* FULLSCREEN / SPLASH */

.fullscreen {
	width: 100%;
	padding: 200px 470px 200px 330px;
}
.fullscreen h1 {
	font: 400 36px/140% 'Merriweather', Georgia, serif;
	padding-bottom: 10px;
}
.fullscreen p {
	max-width: 450px;
}
.fullscreen.splash {
	background-color: #022e5b;
	color: white;
}
.fullscreen.splash h1, .fullscreen.splash h2, .fullscreen.splash h3, .fullscreen.splash h4, .fullscreen.splash p {
	color: white;
}
.jumbo-search {
	margin: 50px 0 20px 0;
}
.jumbo-search input[type=text] {
	height: 50px;
	min-width: 410px;
	margin-right: 15px;
	font: 400 24px/150% 'Source Sans Pro', Arial, Helvetica, sans-serif;
}
.jumbo-search input[type=submit] {
	height: 50px;
	width: 200px;
	font: 400 24px/150% 'Source Sans Pro', Arial, Helvetica, sans-serif;
}

/* ===== LEFT ===== */

.left-bar {
	flex: 0 1 33%;
	height: 100%;
	z-index: 10;
	/*padding-top: 70px;*/
	border-right: 1px solid rgba(2,46,91,.2);
	overflow: hidden;
}
.left-bar h1 {
	/*padding: 20px 40px;*/
	margin-left: 40px;
	padding: 90px 40px 20px 0px;
	border-bottom: 1px solid rgba(2,46,91,.2);
}
.results-box {
	padding: 0px 0px 0px 40px;
	height: 100%;
	overflow: scroll;
}
.result {
	padding: 20px 40px 20px 0;
	/*padding-right: 40px;*/
	border-bottom: 1px solid rgba(2,46,91,.2);
}
.result:hover {
	cursor: pointer;
}
.result .status {
	font-weight: 700;
}
.result.active h3 {
	color: rgba(0,168,225,1);
}
.result:hover h3 {
	color: rgba(0,168,225,.6);
}
.result.active h3::before {
	content: url(../img/ic_marker_mini.svg);
	position: relative;
    margin-left: -28px;
    margin-right: 10px;
    top: 3px;
}

/* ===== RIGHT ===== */

.right-bar {
	flex: 0 1 67%;
	height: 100%;
	z-index: 0;
	overflow: hidden;
}

#background-map {
	height: 100%; 
	width: 100%; 
	z-index: 0;
	background-color: grey;
	transition: transform .5s;
}

.detail-pane {
	width: 100%;
	height: 67%;
	z-index: 5;
	background-color: #fcfbf9;
	border-top: 1px solid rgba(2,46,91,.2);
	padding: 60px 40px 20px 40px;
	transition: transform .5s;
}

.active .detail-pane {
	transform: translate(0px, -100%)
}
.active #background-map {
	transform: translate(0px, -25%)
}
.detail-top {
	width: 100%;
	padding-bottom: 20px;
	border-bottom: 1px solid rgba(2,46,91,.2);
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	overflow: hidden;
}
.detail-top h4 {
	margin-bottom: 5px;
}
.detail-top .sub-left {
	flex: 0 1 72%;
	margin-right: 2%;
}
.detail-top .sub-right {
	flex: 0 1 26%;
	text-align: center;
}
.detail-top input[type=submit] {
	width: 100%;
}
.detail-top input[type=submit]:focus {
	outline: none;
}
p.caption {
	margin-bottom: 5px;
}
.detail-bottom {
	width: 100%;
	display: flex;
	justify-content: space-between;
	overflow: scroll;
	padding-top: 20px;
}
.detail-bottom .sub-left {
	flex: 1 1 26%;
	margin-right: 3%;
}
.detail-bottom .sub-middle, .detail-bottom .sub-right {
	flex: 1 1 32%;
	margin-right: 3%;
}
.detail-pane h4 {
	margin-top: 20px;
}

/* ===== PROFILE ===== */

.profile label {
	font: 400 14px/150% 'Source Sans Pro', Arial, Helvetica, sans-serif;
}

.profile input[type=checkbox] {
	display: inline-block;
}


