/* ===== COLORS ===== */
/*
	black #333333 rgb(51,51,51)
	primary dark blue #022E5B rgb(2,46,91)
	secondary bright blue #00A8E1 rgb(0,168,225)
	accent gold #FFB219 rgb(225,178,25)
	warning red #CC444B rgb(204,68,75)
	light grey-blue for lines #CDD4DE rgb(205,212,222)
	background color for detail pane: #fcfbf9
*/

html, body {
	height: 100%;
	width: 100%;
}

/* ===== GLOBAL ===== */
/* including a crapton of bootstrap overrides */

* {
  margin: 0;
  padding: 0;
  color: #333;
  font: 400 16px/150% 'Source Sans Pro', Arial, Helvetica, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
h1, h2, h3, h4, p { margin: 0; }
h1 { font: 400 28px/140% }
h2 { font: 300 28px/120% }
h3 { font: 600 24px/120% }
h4 {
	font: 700 16px/150%;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: 30px;
	margin-bottom: 10px;
}
.interstitial-page h2, .interstitial-page h3, .interstitial-page h4 {
	padding-top: 30px;
	margin-bottom: 20px;
}
.interstitial-page p {
	margin-bottom: 20px;
}
label {
	font: 400 14px/150%;
	display: block;
	margin-top: 10px;
	margin-bottom: 0;
}
ul {
	list-style: disc outside none;
	padding-left: 20px;
}
.global-header ul {
	list-style: none;
}
a {
	color: rgba(0,168,225,1);
	text-decoration: underline;
	cursor: pointer;
}
a.destructive {
	color: rgb(204,68,75);
}
p.destructive {
	color: rgb(204,68,75);
}
label.destructive {
	color: rgb(204,68,75);
}
p.bold, strong {
	font-weight: 600;
}
ol, ul {
	margin-bottom: 0;
}
input[type=submit] {
	height: 40px;
    padding: 5px 25px;
    border: 0;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-right: 10px;
}
input[type=submit]:focus, textarea:focus {
	outline: none;
}
input[type=submit].primary {
	background-color: rgb(0,168,225);
	color: white;
	margin-bottom: 8px;
}
input[type=submit].secondary {
	background-color: rgba(0,168,225,0);
	color: rgba(0,168,225,1);
    border: 1px solid rgba(0,168,225,1);
}
input[type=submit].destructive {
	background-color: rgb(204,68,75);
	color: white;
}
input[type=submit].inactive {
	background-color: rgb(205,212,222);
	color: white;
	cursor: default;
}
input[type=text], input[type=email], input[type=tel], input[type=date] {
	height: 40px;
	padding: 5px 10px;
	border: 1px solid rgb(205,212,222);
	-webkit-transition: border .5s;
	-o-transition: border .5s;
	transition: border .5s;
	outline: none;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-right: 10px;
	font: 400 18px/150%;
	color: #333;
}
input[type=text]:placeholder, input[type=email]:placeholder, input[type=tel]:placeholder, input[type=date]:placeholder {
	color: rgb(205,212,222);
}
input[type=text]:focus {
	border: 1px solid rgba(0,168,225,1);
}
select {
	height: 40px;
	 /*hack for safari*/
	-webkit-appearance: menulist-button !important;
	line-height: 40px !important;
	display: inline-block;
}
select:focus {
	outline: none;
}
.top-border {
	margin-top: 30px;
	border-top: 1px solid rgb(205,212,222);
}
.inline-image {
	display: inline-block;
	height: 50px;
	margin-right: 20px;
}
.inline-image.ragtag {
	width: 230px;
	position:relative;
	background: url("../img/logo_ragtag.png") top left / contain no-repeat;
}
.anchor::before {
	display: block;
    content: " ";
    margin-top: -40px;
    height: 40px;
    visibility: hidden;
}



/* ===== HEADER ===== */

.global-header {
	width: 100%;
	height: 70px;
	position: fixed;
	top: 0;
	left: 0;
	padding: 10px 40px;
	z-index: 20;
	background-color: white;
	border-bottom: 1px solid rgb(205,212,222);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.header-left {
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.header-left .logo-container {
	width: 143px;
	height: 70px;
	margin-right: 23px;
	display: inline-block;
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 auto;
	        flex: 0 1 auto;
}
.header-left .logo {
	width: 143px;
	height: 50px;
	margin: 10px 0;
	background: url("../img/logo_ragtag.png") top left / contain no-repeat;
}
.header-left .logo.generic {
	background: url("../img/logo_ragtag.png") top left / contain no-repeat;
}

.header-left .header-search-bar {
	-webkit-box-flex: 1;
	    -ms-flex: 1 0 500px;
	        flex: 1 0 500px;
	display: inline-block;
}
.header-left form > * {
	margin-right: 10px;
}
.header-left input[type=text] {
	width: auto;
	min-width: 300px;
    padding: 5px 10px 5px 37px;
	background: url("../img/ic_search_24px.svg") 7px center no-repeat;
}
.global-header .nav-bar {
	-webkit-box-flex: 0;
	    -ms-flex: 0	1 auto;
	        flex: 0	1 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.global-header .mobile-nav-bar {
	display: none;
}
.global-header a {
	color: #333;
	text-decoration: none;
}
.global-header a:hover {
	color: rgba(0,168,225,1);
}
.nav-bar li.active a {
	font-weight: 600;
}
.nav-bar li {
	-webkit-box-flex: 1;
	    -ms-flex: 1 0 auto;
	        flex: 1 0 auto;
	display: inline-block;
	padding-right: 25px;
	height: 70px;
    padding-top: 21px;
}
.nav-bar li:last-child, .nav-bar-secondary li {
	padding-right: 0;
}
.nav-bar-secondary {
    position: absolute;
    max-width: 130px;
    top: 70px;
    right: 0;
    padding: 0;
    margin-left: -10px;
    background-color: white;
    border-left: 1px solid rgb(205,212,222);
    border-right: 1px solid rgb(205,212,222);
    border-bottom: 1px solid rgb(205,212,222);
    z-index: 21;
    display: none;
}
.nav-dropdown:hover .nav-bar-secondary {
/*.nav-dropdown:hover .nav-bar-secondary, .nav-bar-secondary li:hover {*/
	display: block;
}
.nav-bar-secondary li {
	height: 50px;
    padding: 12px 20px 0 20px;
	width: 130px;
}
.nav-bar-secondary li:last-child {
	border-top: 1px solid rgb(205,212,222);
}

.nav-dropdown a.arrow::after {
	content: url(../img/ic_arrow_down_gray.svg);
	position: relative;
    margin-left: 5px;
    top: -1px;
}
.nav-dropdown a.arrow:hover::after {
	content: url(../img/ic_arrow_down_blue.svg);
	position: relative;
    margin-left: 5px;
    top: -1px;
}
.mobile-back-link {
	position: fixed;
	width: 70px;
	height: 70px;
	top: 0;
	left: 0;
	display: none;
}
.back-button {
	width: 19px;
	height: 69px;
	margin-left: 20px;
	background: url("../img/ic_back-button.png") top left / contain no-repeat;
}

/* ===== CONTENT BODY ===== */

.content {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.content.constrained {
	/* this allows for overflow/scroll on single screen pages */
	height: 100%;
}
.content.splash-only {
	flex-direction: column;
}
.fullscreen {
	width: 100%;
	margin-top: 70px;
	padding: 0 210px 100px 210px;
}
.fullscreen.jumbo-second {
	/*padding-top: 60px;*/
}
.form-page {
	max-width: 730px;
	padding-top: 40px;
}
.interstitial-page {
	max-width: 600px;
	padding-top: 40px;
}

/* ===== SPLASH PAGES ===== */

.fullscreen.jumbo {
	background-color: rgb(2,46,91);
	color: white;
}
.fullscreen.jumbo.driver-splash {
	background-color: rgb(0,168,225);
}
.fullscreen.jumbo.driver-splash input[type=submit] {
	background-color: rgb(2,46,91);
	color: white;
}
.fullscreen.jumbo.driver-splash a {
	color:rgb(2,46,91);
}
.fullscreen.jumbo.bg-image {
	background: rgb(2,46,91) url(../img/background-image-car.svg) 300% 50% / 80% no-repeat;
	color: white;
}
.fullscreen.jumbo h1, .fullscreen.jumbo h2, .fullscreen.jumbo h3, .fullscreen.jumbo h4, .fullscreen.jumbo p {
	color: white;
}
.fullscreen h1 {
	font: 400 36px/140%;
	padding-bottom: 20px;
}
.fullscreen h1, .fullscreen p {
	max-width: 650px; /*for line length readability*/
}
.jumbo {
	padding-top: 50px;
}
.jumbo h2 {
	padding-top: 0;
	margin-bottom: 20px;
}
.jumbo-second h3 {
	margin-top: 40px;
	padding-top:40px;
	margin-bottom: 20px;
}
.jumbo-second h3:first-child {
	margin-top: 0;
}
.jumbo form {
	width: 100%;
	margin-bottom: 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.jumbo input[type=text] {
	-webkit-box-flex: 1;
	    -ms-flex: 1 0 300px;
	        flex: 1 0 300px;
	height: 50px;
	max-width: 450px;
	margin-right: 15px;
	margin-bottom: 15px;
	font: 400 24px/150%;
}
.jumbo input[type=submit] {
	-webkit-box-flex: 1;
	    -ms-flex: 1 0 100px;
	        flex: 1 0 100px;
	height: 50px;
	font: 400 24px/150%;
}

/* ===== MAP SEARCH RESULTS - LEFT ===== */

.left-bar {
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 33%;
	        flex: 0 1 33%;
	height: 100%;
	z-index: 10;
	border-right: 1px solid rgb(205,212,222);
	overflow: hidden;
}
.left-bar h1 {
	margin-left: 40px;
	padding: 90px 40px 20px 0px;
	border-bottom: 1px solid rgb(205,212,222);
}
.results-box {
	padding: 0px 0px 150px 40px;
	height: 100%;
	overflow: scroll;
}
.result {
	padding: 20px 40px 20px 0;
	border-bottom: 1px solid rgb(205,212,222);
}
.result:hover {
	cursor: pointer;
}
.result:hover h3 {
	color: rgba(0,168,225,.6);
}
.result.active h3 {
	color: rgba(0,168,225,1);
}
.result.active h3::before {
	content: url(../img/ic_marker_mini.svg);
	position: relative;
    margin-left: -28px;
    margin-right: 10px;
    top: 3px;
}

/* ===== MAP SEARCH RESULTS - RIGHT ===== */

.right-bar {
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 67%;
	        flex: 0 1 67%;
	height: 100%;
	z-index: 0;
	overflow: hidden;
}
#background-map, #give-ride-map, #my-rides-map {
	height: 100%;
	width: 100%;
	z-index: 0;
	background-color: grey;
	-webkit-transition: -webkit-transform .5s;
	transition: -webkit-transform .5s;
	-o-transition: transform .5s;
	transition: transform .5s;
	transition: transform .5s, -webkit-transform .5s;
}
#detail-pane {
	width: 100%;
	height: 67%;
	z-index: 5;
	background-color: #fcfbf9;
	border: 1px solid rgb(205,212,222);
	padding: 10px 40px 20px 40px;
	-webkit-transition: -webkit-transform .5s;
	transition: -webkit-transform .5s;
	-o-transition: transform .5s;
	transition: transform .5s;
	transition: transform .5s, -webkit-transform .5s;
	overflow: scroll;
}
.active #detail-pane {
	-webkit-transform: translate(0px, -100%);
	    -ms-transform: translate(0px, -100%);
	        transform: translate(0px, -100%)
}
.active #background-map, .active #give-ride-map, .active #my-rides-map  {
	-webkit-transform: translate(0px, -25%);
	    -ms-transform: translate(0px, -25%);
	        transform: translate(0px, -25%)
}
.detail-top {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
}
.detail-top .sub-left {
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 72%;
	        flex: 0 1 72%;
	margin-right: 2%;
}
.detail-top .sub-right {
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 26%;
	        flex: 0 1 26%;
}
.detail-bottom {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.detail-bottom .sub-left {
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 26%;
	        flex: 1 1 26%;
	margin-right: 3%;
}
.detail-bottom .sub-middle, .detail-bottom .sub-right {
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 32%;
	        flex: 1 1 32%;
	margin-right: 3%;
}

/* ===== form-page ===== */

.form-page .check-label {
	margin-right: 20px;
}
.form-page input[type=checkbox] {
	margin-right: 5px;
}
.form-page input[type=text], input[type=email], input[type=tel] {
	width: 100%;
}
.form-page select#gender-select {
	width: 180px;
}
.form-page input[type=text]#gender-description {
	display: none;
}
.form-page input[type=text]#gender-description.visible {
	display: inline;
	margin-top: 10px;
}
.form-page .left-button {
    float: left;
    margin-right: 5px;
}
.form-page .carpool-control-button {
    padding: 0px 2px;
}
.two-col-layout {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.two-col-column {
	-webkit-box-flex: 1;
	    -ms-flex: 1 0 330px;
	        flex: 1 0 330px;
}
.two-col-column:first-child {
	margin-right: 50px;
}
.two-col-layout.right-align {
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	padding-top: 30px;
}
.textarea-notes {
	width: 100%;
	height: 100px;
	padding: 5px 10px;
}

#mini-map {
	height: 300px;
	width: 100%;
	z-index: 0;
	background-color: grey;
	-webkit-transition: -webkit-transform .5s;
	transition: -webkit-transform .5s;
	-o-transition: transform .5s;
	transition: transform .5s;
	transition: transform .5s, -webkit-transform .5s;
}
#location-seed {
	margin-bottom: 10px;
}
.location-explainer {
	margin-top: 200px;
}

/* ===== ERROR MESSAGES ===== */

.error-messages {
	width: 100%;
}
.message {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px 10px;
    border-left: solid 4px white;
}
.message:last-child{
	margin-bottom: 40px;
}
.message.success {
	border-color: rgb(0,168,225);
    background-color: rgba(0,168,225,.2);
}
.message.error {
    border-color: rgb(204,68,75);
    background-color: rgba(204,68,75,.2);
}
.message.pending {
    border-color: rgb(205,212,222);
    background-color: rgba(205,212,222,.4);
}
.message.success::before {
	content: url(../img/ic_error_check.png);
	position: relative;
    margin-left: 0px;
    margin-right: 8px;
    top: 3px;
}
.message.error::before {
	content: url(../img/ic_error_x.png);
	position: relative;
    margin-left: 2px;
    margin-right: 8px;
    top: 3px;
}
.message.pending::before {
	content: url(../img/ic_error_pending.png);
	position: relative;
    margin-left: 0px;
    margin-right: 7px;
    top: -3px;
}
.message a {
	color: #333;
}

/* ===== MY RIDES ===== */

.my-rides > div:nth-child(2) h4::before {
	content: "Next ride: ";
}
.my-rides .message {
	margin-top: 10px;
}
.my-rides h3:hover {
	/*color: rgba(0,168,225,.6);*/
}
.my-rides h3 {
	/*color: rgba(0,168,225,1);*/
	display: inline-block;
}
.my-rides p.view-details {
	display: inline-block;
	margin-left: 12px;
}

/* EMAIL PREVIEW */

pre.text {
  white-space: pre-line;
}

/* MEDIA QUERIES */

@media screen and (max-width:1200px) {
	.global-header {
		padding: 10px 20px;
	}
	.global-header .nav-bar {
		-webkit-box-flex: 1;
		    -ms-flex: 1	1 auto;
		        flex: 1	1 auto;
	}
	.header-left .logo-container {
		width: 70px;
	}
	.header-left .logo {
		margin-right: 0;
		background: url("../img/logo-small.png") top left / contain no-repeat;
		cursor: pointer;
	}
	.header-left .logo::after {
		content: url(../img/ic_arrow_down_gray.svg);
		position: relative;
		margin-left: 45px;
		top: 11px;
	}
	.global-header .nav-bar {
		display: none;
	}
	.global-header .mobile-nav-bar {
		position: absolute;
		width: 100%;
	    top: 70px;
	    left: 0;
	    padding: 0 20px;
	    background-color: white;
	    border-left: 1px solid rgb(205,212,222);
	    border-right: 1px solid rgb(205,212,222);
	    border-bottom: 1px solid rgb(205,212,222);
	    z-index: 21;
	}
	.mobile-nav-bar.visible {
		display: block;
	}
	.mobile-nav-bar li {
		height: 50px;
	    padding-top: 12px;
	    padding-right: 60px;
	}
	.mobile-nav-bar li.divider {
		border-top: 1px solid rgb(205,212,222);
	}
	.fullscreen {
		width: 100%;
		padding: 0 114px 50px 114px;
	}
	.fullscreen.jumbo.bg-image {
		background: rgb(2,46,91);
	}
}
@media screen and (max-width:980px) {
	.fullscreen {
		width: 100%;
		padding: 0 20px 50px 20px;
	}
	#detail-pane {
		padding-top: 80px;
		position: relative;
		height: 100%;
		top: -100%;
		left: -100%;
	}
	.active #detail-pane {
		-webkit-transform: translate(100%, 0px);
		    -ms-transform: translate(100%, 0px);
		        transform: translate(100%, 0px)
	}
	.active #background-map, .active #give-ride-map, .active #my-rides-map  {
		-webkit-transform: translate(25%, 0px);
		    -ms-transform: translate(25%, 0px);
		        transform: translate(25%, 0px)
	}
	.left-bar {
		-webkit-box-flex: 1;
		    -ms-flex: 1 0 355px;
		        flex: 1 0 355px;
	}
	.right-bar {
		-webkit-box-flex: 1;
		    -ms-flex: 1 1 60%;
		        flex: 1 1 60%;
	}
	.left-bar h1 {
		margin-left: 0px;
		padding-left: 20px;
	}
	.results-box {
		padding-left: 0px;
	}
	.result {
		padding-left: 20px;
	}
	.result.active h3::before {
		content: none;
	}
	.detail-top {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
	.detail-bottom {
		width: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
}
@media screen and (max-width:720px) {
	.fullscreen h1 {
		font: 400 28px/140%;
	}
	.header-left {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
	.header-left .header-search-bar {
		display: none;
	}
	.header-left .logo-container {
		width: 125px;
	}
	.header-left .logo {
		background: url("../img/logo-dark.png") top left / contain no-repeat;
	}
	.header-left .logo::after {
		content: url(../img/ic_arrow_down_gray.svg);
		position: relative;
		margin-left: 150px;
		top: 11px;
	}
	.jumbo {
		margin-top: 0px;
	}
	.left-bar {
		-webkit-box-flex: 0;
		    -ms-flex: none;
		        flex: none;
		position: relative;
		width: 100%;
		background-color: white;
		z-index: 10;
		/*left: -50%;*/
		/*display: none;*/
	}
	.right-bar {
		-webkit-box-flex: 0;
		    -ms-flex: none;
		        flex: none;
		position: relative;
		width: 100%;
		height: 100%;
		background-color: #fcfbf9;
		z-index: 15;
		left: 0%;
		-webkit-transition: -webkit-transform .5s;
		transition: -webkit-transform .5s;
		-o-transition: transform .5s;
		transition: transform .5s;
		transition: transform .5s, -webkit-transform .5s;
	}
	#detail-pane {
	     top: 0%;
		 left: 0%;
		 z-index: 20;
	     padding: 80px 20px 20px 20px;
		 -webkit-transition: none;
		 -o-transition: none;
		 transition: none;

	}
	.active #detail-pane {
		-webkit-transform: none;
		    -ms-transform: none;
		        transform: none;
	}
	.right-bar.active {
		/*left: -100%;*/
		-webkit-transform: translate(-100%, 0);
		    -ms-transform: translate(-100%, 0);
		        transform: translate(-100%, 0)
	}
	#background-map, #give-ride-map, #my-rides-map {
		height: 0%;
		width: 0%;
		-webkit-transition: none;
		-o-transition: none;
		transition: none;
	}
	.active #background-map, .active #give-ride-map, .active #my-rides-map {
		-webkit-transform: none;
		    -ms-transform: none;
		        transform: none;
	}
	.mobile-back-link.active{
		display: block;
	}
}
