{% extends "email/_wrapper.html" %}

{% block content %}
<p>Hello {{ person.name }},</p>

<p>Unfortunately, the carpool at {{ carpool.leave_time | humanize }} from {{ carpool.from_place }} to {{ destination.name }} has been cancelled because the volunteer event has been cancelled or postponed.</p>

{% if person.id == carpool.driver_id %}
<p><b>You are the driver of that carpool.</b></p>
{% endif %}

<p>Please contact the organizers for more information.</p>

<p>Your volunteer help is still needed! To help another campaign by being a driver to an event, please visit {{ url_for('carpool.find', _external=True) }}</p>

<p>Thank you,</p>

<p>{{ config.get('BRANDING_EMAIL_SIGNATURE') }}</p>
{% endblock %}
