{% extends "email/_wrapper.html" %}

{% block content %}
<p>Hi {{ carpool.driver.name }}!</p>

<p>Thank you for signing up to carpool!</p>

<p>Here's the information you entered about your trip:</p>
<p>Pickup: {{ carpool.from_place }}</p>
<p>Destination Name: {{ carpool.destination.name }}</p>
<p>Destination Address: {{ carpool.destination.address }}</p>

<p>Your carpool's departure time is {{ carpool.leave_time | humanize }}, only two days away!</p>

<p>As the driver, it's your responsibility to coordinate with your riders. Make sure you have spoken with them to confirm their rides and settle all the details of pickup and drop-off.</p>

<ul>
{% for rider in carpool.riders %}
  <li>{{ rider.name }}: {{ rider.email }}, {{ rider.phone_number }} ({{ rider.preferred_contact_method }} preferred)</li>
{% endfor %}
</ul>

<p>If you have no passengers yet, make sure you check your email or <a href="{{ url_for('carpool.details', uuid=carpool.uuid, _external=True) }}">your carpool details</a> for any ride requests you may have missed.</p>

<p>You can also use that link to make changes to the details of your carpool, cancel your carpool, or remove a passenger. Please make any changes you need to make in a timely manner so you and your passengers have time to plan around them.</p>

<p>You are doing great work, thank you for driving!</p>

<p>{{ config.get('BRANDING_EMAIL_SIGNATURE') }}</p>

<p><a href="{{ config.get('BRANDING_LIABILITY_URL') }}">Using this tool is at your own risk; neither drivers or riders are vetted by {{ config.get('BRANDING_ORG_NAME') }}. By using this tool you agree to our organizer liability statement which you can read here.</a>
</p>


<p>SAFETY TIPS</p>
<ul>
  <li>Have a live phone conversation with your passengers before the pickup</li>
  <li>Check out your passengers' social media profiles</li>
  <li>Make sure a friend or family member knows where you’re going and with whom; check in with them at stages of your trip and canvassing</li>
  <li>Charge your phone</li>
</ul>
<p>CANVASSING TIPS</p>
<ul>
  <li>Charge your phone</li>
  <li>Get the volunteer coordinator’s phone number</li>
  <li>Listen carefully to all instructions</li>
  <li>If a house or encounter with a constituent makes you feel uncomfortable for any reason, retreat, move on,
  and alert the local volunteer coordinator</li>
  <li>Bring water and a snack</li>
  <li>Wear sturdy walking shoes and weather-appropriate clothing</li>
</ul>
{% endblock %}
