<p>Hi {{ carpool['driver']['name'] }}!</p>

<p>Thank you for carpooling to canvass at [DESTINATION HERE!!!]. Your carpool's departure time is {{ carpool['leave_time'] | humanize }}, 
only two days away!</p>

<p>As the driver, it's your responsibility to coordinate with your riders. Make sure you have spoken with them to confirm 
their ride with you and settle all the details of pickup and drop-off. Your passenger info can be found here:</p>
<p><a href="{{ url_for('carpool.details', uuid=carpool['uuid'], _external=True) }}">Details about this carpool.</a></p>
<p>If you have no passengers yet, make sure you check your email or the link above for any ride requests you may have missed.</p>

<p>You can also use that link to make any changes to the details of your carpool, cancel your carpool, or remove a passenger. 
Please make any changes you need to make in a timely manner so you and your passengers have time to plan around them.</p>

<p>You are doing great work, thank you for driving!</p>

<p>SAFETY TIPS</p>
<ul>
  <li>Have a live phone conversation with your driver before the pickup</li>
  <li>Check out your driver’s social media profile(s)</li>
  <li>Make sure a friend or family member knows where you’re going and with who; check in with them at stages of your trip and canvassing</li>
  <li>Charge your phone</li>
</ul>
<p>CANVASSING TIPS</p>
<ul>
  <li>Charge your phone</li>
  <li>Get the volunteer coordinator’s phone number</li>
  <li>Listen carefully to all instructions</li>
  <li>If a house or encounter with a constituent makes you feel uncomfortable for any reason, retreat, move on,
  and alert the local volunteer coordinator</li>
  <li>Bring water and a snack</li>
  <li>Wear sturdy walking shoes and weather-appropriate clothing</li>
</ul>
