{% extends "_wrapper.html" %}

{% block content %}
<p>Hi {{ carpool['driver']['name'] }},</p>

<p>We wanted to let you know that {{ rider['name'] }} has requested a ride in your carpool from {{ carpool['from_place'] }} to {{ carpool['destination']['name'] }} at {{ carpool['leave_time'] | humanize }}.</p>

<p>Please go to {{url_for('carpool.details', uuid=carpool['uuid'], _external=True)}} and approve or deny this request.</p>

<p>You'll receive a reminder email containing all of your passengers' contact information two days before your departure date.</p>

<p>Thanks!</p>

<p>SAFETY TIPS</p>
<ul>
  <li>Have a live phone conversation with your driver before the pickup</li>
  <li>Check out your driver’s social media profile(s)</li>
  <li>Make sure a friend or family member knows where you’re going and with who; check in with them at stages of your trip and canvassing</li>
  <li>Charge your phone</li>
</ul>
<p>CANVASSING TIPS</p>
<ul>
  <li>Charge your phone</li>
  <li>Get the volunteer coordinator’s phone number</li>
  <li>Listen carefully to all instructions</li>
  <li>If a house or encounter with a constituent makes you feel uncomfortable for any reason, retreat, move on,
  and alert the local volunteer coordinator</li>
  <li>Bring water and a snack</li>
  <li>Wear sturdy walking shoes and weather-appropriate clothing</li>
</ul>
{% endblock %}
