{% extends "email/_wrapper.html" %}

{% block content %}
<p>Hi {{ rider.name }}!</p>

<p>Thank you for carpooling to canvass</p>
<p>Pickup: {{ carpool.from_place }}</p>
<p>Destination Name: {{ carpool.destination.name }}</p>
<p>Destination Address: {{ carpool.destination.address }}</p>

<p> Your carpool's departure time is
  {{ carpool.leave_time | humanize }}, only two days away!</p>

<p>Make sure you have spoken to your driver {{ carpool.driver.name }} to confirm your ride and settle all the details of pickup and drop-off. Your driver's email is {{ carpool.driver.email }} and their phone number is {{ carpool.driver.phone_number }} ({{ carpool.driver.preferred_contact_method }} preferred).</p>

<p>You can use <a href="{{ url_for('carpool.details', uuid=carpool.uuid, _external=True) }}">this link</a> if you need to withdraw from the carpool. If you do withdraw, please try to do so early enough that other volunteers get a chance to join the carpool and the driver can make any changes they need to.</p>

<p>You are doing great work, thank you for joining us!</p>

<p>{{ config.get('BRANDING_EMAIL_SIGNATURE') }}</p>

<p>SAFETY TIPS</p>
<ul>
  <li>Have a live phone conversation with your driver before the pickup</li>
  <li>Check out your driver’s social media profile(s)</li>
  <li>Make sure a friend or family member knows where you’re going and with who; check in with them at stages of your trip and canvassing</li>
  <li>Charge your phone</li>
</ul>
<p>CANVASSING TIPS</p>
<ul>
  <li>Charge your phone</li>
  <li>Get the volunteer coordinator’s phone number</li>
  <li>Listen carefully to all instructions</li>
  <li>If a house or encounter with a constituent makes you feel uncomfortable for any reason, retreat, move on,
  and alert the local volunteer coordinator</li>
  <li>Bring water and a snack</li>
  <li>Wear sturdy walking shoes and weather-appropriate clothing</li>
</ul>
{% endblock %}
