{% extends "email/_wrapper.html" %}

{% block content %}
<p>Hi {{ rider.name }},</p>

<p>Good news! {{ carpool.driver.name }} approved your request to join the carpool</p>
<p>Pickup: {{ carpool.from_place }}</p>
<p>Destination name: {{ carpool.destination.name }}</p>
<p>Destination address: {{ carpool.destination.address }}</p>
<p>Departing at: {{ carpool.leave_time | humanize }}</p>

<p>Please contact {{ carpool.driver.name }} at {{ carpool.driver.email }} or {{ carpool.driver.phone_number }} ({{ carpool.driver.preferred_contact_method }} preferred) to figure out exactly when and where to meet.</p>

<p>View <a href="{{ url_for('carpool.details', uuid=carpool.uuid, _external=True) }}">>your carpool details</a> to review the details of this carpool or if you need to withdraw from the carpool. If you do withdraw, please try to do early enough so other people can plan to join the carpool.</p>

<p>Thanks for joining the ride!</p>

<p>{{ config.get('BRANDING_EMAIL_SIGNATURE') }}</p>

<p><a href="{{ config.get('BRANDING_LIABILITY_URL') }}">Using this tool is at your own risk, neither drivers or riders are vetted by {{ config.get('BRANDING_ORG_NAME') }}. By using this tool you agree to our organizer liability statement which you can read here.</a>
</p>


<p>SAFETY TIPS</p>
<ul>
  <li>Have a live phone conversation with your driver before the pickup</li>
  <li>Check out your driver’s social media profile(s)</li>
  <li>Make sure a friend or family member knows where you’re going and with who; check in with them at stages of your trip and canvassing</li>
  <li>Charge your phone</li>
</ul>
<p>CANVASSING TIPS</p>
<ul>
  <li>Charge your phone</li>
  <li>Get the volunteer coordinator’s phone number</li>
  <li>Listen carefully to all instructions</li>
  <li>If a house or encounter with a constituent makes you feel uncomfortable for any reason, retreat, move on,
  and alert the local volunteer coordinator</li>
  <li>Bring water and a snack</li>
  <li>Wear sturdy walking shoes and weather-appropriate clothing</li>
</ul>
{% endblock %}
