{% extends "email/_wrapper.html" %}

{% block content %}
<p>Hi {{ carpool.driver.name }},</p>

<p>We wanted to let you know that {{ rider.name }} has cancelled their request to ride with you from {{ carpool.from_place }} to {{ carpool.destination.name }} at {{ carpool.leave_time | humanize }}.</p>

<p><a href="{{ url_for('carpool.details', uuid=carpool.uuid, _external=True) }}">Details about this carpool.</a></p>

<p>Thanks!</p>

<p>{{ config.get('BRANDING_EMAIL_SIGNATURE') }}</p>

{% endblock %}
