{% extends "email/_wrapper.html" %}

{% block content %}
<p>Hi {{ carpool.driver.name }},</p>

<p>We wanted to let you know that {{ rider.name }} has cancelled their request to ride with you from {{ carpool.from_place }} to {{ carpool.destination.name }} at {{ carpool.leave_time | humanize }}.</p>

<p><a href="{{ url_for('carpool.details', uuid=carpool.uuid, _external=True) }}">Details about this carpool.</a></p>

<p>Thanks!</p>

<p>P.S. If you're having trouble getting riders, make sure your local progressive organizations and party know about Nomad and are sending volunteers to use it!</p>
{% endblock %}
