{%- extends "_template.html" %}
{%- import "bootstrap/wtf.html" as wtf %}

{% block site %}
<div class="content">
    <div class="fullscreen">
    <h4>Admin</h4>

<h3>Users</h3>

<ul class="list-group">
    <li class="list-group-item">
        <a href="{{ url_for('admin.user_list') }}">User List</a>
    </li>
    <li class="list-group-item">
        <a href="{{ url_for('admin.user_list_csv')}}">Download drivers and riders (.csv)</a>
    </li>
    <li class="list-group-item">
        <a href="{{ url_for('admin.carpool_list_csv')}}">Download carpools (.csv)</a>
    </li>
</ul>

<h3>Canned Destinations</h3>

<ul class="list-group">
    <li class="list-group-item">
        <a href="{{ url_for('admin.destinations_list') }}">Destinations List</a>
    </li>
</ul>

<h3>Email Previews</h3>

<ul class="list-group">
    <li class="list-group-item">
      <a href="{{ url_for('admin.email_preview', template='admin_destination_deleted') }}">Admin destination deleted</a>
    </li>
    <li class="list-group-item">
      <a href="{{ url_for('admin.email_preview', template='admin_destination_modified') }}">Admin destination modified</a>
    </li>
    <li class="list-group-item">
      <a href="{{ url_for('admin.email_preview', template='approved_ride_request_cancelled') }}">Approved ride request cancelled</a>
    </li>
    <li class="list-group-item">
      <a href="{{ url_for('admin.email_preview', template='carpool_cancelled') }}">Carpool cancelled</a>
    </li>
    <li class="list-group-item">
      <a href="{{ url_for('admin.email_preview', template='driver_reminder') }}">Driver reminder</a>
    </li>
    <li class="list-group-item">
      <a href="{{ url_for('admin.email_preview', template='ride_approved') }}">Ride approved</a>
    </li>
    <li class="list-group-item">
      <a href="{{ url_for('admin.email_preview', template='ride_denied') }}">Ride denied</a>
    </li>
    <li class="list-group-item">
      <a href="{{ url_for('admin.email_preview', template='ride_request_cancelled') }}">Ride request cancelled</a>
    </li>
    <li class="list-group-item">
      <a href="{{ url_for('admin.email_preview', template='ride_requested') }}">Ride requested</a>
    </li>
    <li class="list-group-item">
      <a href="{{ url_for('admin.email_preview', template='rider_reminder') }}">Rider reminder</a>
    </li>
</ul>
</div>
</div>
{% endblock %}
