{%- extends "_template.html" %}
{%- import "bootstrap/wtf.html" as wtf %}

{% block scripts %}
<script>
    // sanitized query from URL: q=12345
    let destinationId = {{destination.id}};
    const geoJSONUrl = "{{ url_for('carpool.start_geojson') }}"; // eslint-disable-line no-unused-vars
    let destinationLon = {{destination.as_geojson()['geometry']['coordinates'][0]}};
    let destinationLat = {{destination.as_geojson()['geometry']['coordinates'][1]}};
    const newCarpoolUrl = "{{ url_for('carpool.new', lat=loc_lat, lon=loc_lon) }}"; // eslint-disable-line no-unused-vars
    const userAuthenticated = "{{current_user.is_authenticated}}" === "True";
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/destinations.js') }}"></script>
{{super()}}
{% endblock %}

{% block site %}

<div class="content constrained">
    <div class="carpool-results">
        <h1 class="visible-lg-block">
            Find rides to {{destination.name}}
        </h1>
	<h1 class="visible-lg-block">
	    {{destination.address}}
	</h1>
        <div id="search-results" class="results-box">
        </div>
    </div>

    <div class="carpool-map">
        <div id="background-map"></div>
    </div>

</div>

{% endblock %}
