{%- extends "_template.html" %}
{%- import "bootstrap/wtf.html" as wtf %}

{% block site %}
<div class="content">

    <div class="fullscreen">
        {% include '_flash_messages.html' %}

        <div class="form-page">

            <h2>Carpools to {{ destination.name }}</h2>

            {% if destination.future_carpools.count() == 0 %}
            <p>There are no carpools going to {{ destination.name }} yet.</p>
            {% elif destination.future_carpools.count() == 1 %}
            <p>There is 1 driver taking people to {{ destination.name }}. Will you join them?</p>
            {% else %}
            <p>There are {{ destination.future_carpools.count() }} drivers taking people to {{ destination.name }}. Will you join them?</p>
            {% endif %}

            {% if destination.future_carpools.count() > 0 %}
                {% for c in destination.future_carpools %}
                <div class="result" id="{{ c.uuid }}">
                <a style="text-decoration:none" href={{ url_for('carpool.details', uuid=c.uuid )}}>
                <h3 class="result-title">
                    {{ c.from_place }} to {{ destination.name }}
                </h3>
                </a>
                    <p>
                    {%- if c.seats_available > 1 %}
                        There are {{ c.seats_available }} seats available in this carpool.
                    {%- elif c.seats_available == 1 %}
                        There is 1 seat available in this carpool.
                    {%- else %}
                        There are no more seats available in this carpool.
                    {%- endif %}
                    </p>
                <p>Departs: {{ c.leave_time.strftime(config.get('DATE_FORMAT')) }}</p>
                <p>Returns: {{ c.return_time.strftime(config.get('DATE_FORMAT')) }}</p>
                {% if current_user.is_driver(c) %}
                    <p>You are the driver of this carpool</p>
                    <a class="btn btn-primary" href="{{ url_for('carpool.edit', uuid=c.uuid) }}">Edit your carpool</a>
                    <a class="btn btn-danger" href="{{ url_for('carpool.cancel', uuid=c.uuid) }}">Cancel this carpool</a>
                {% else %}
                    {%- if c.seats_available > 0 %}
                        <a class="btn btn-primary" href="{{ url_for('carpool.details', uuid=c.uuid) }}">Request a seat in carpool</a>
                    {%- endif %}
                    {% if current_user.has_roles('admin') %}
                        <a class="btn btn-danger" href="{{ url_for('admin.admin_cancel_carpool', uuid=c.uuid) }}">Cancel this carpool</a>
		    {% endif %}
                {% endif %}
            </div>
            {% endfor %}

            <p>If none of these work, you can <a href="{{ url_for('carpool.new', destination_id=destination.uuid) }}">create your own ride!</a></p>
            {% else %}
            <a href="{{ url_for('carpool.new', destination_id=destination.uuid) }}">Will you create one?</a>
            {% endif %}

        </div>

    </div>

</div>

{% endblock %}
