{%- extends "bootstrap/base.html" %}
{% import "bootstrap/utils.html" as utils %}

{% block title %}Share Your Ride{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{url_for('.static', filename='js/site.js')}}"></script>
{% endblock %}

{% import "bootstrap/fixes.html" as fixes %}
{% block head %}
{{super()}}
{{fixes.ie8()}}
{%- endblock %}

{% block content %}
  <nav class="navbar navbar-default">
    <div class="container">
      <a class="navbar-brand" href="{{ url_for('index') }}">Carpools</a>
{% if current_user.is_authenticated %}
      <p class="navbar-text navbar-right">Signed in as <a href="{{ url_for('profile') }}" class="navbar-link">{{ current_user.name }}</a>. <a href="{{ url_for('logout') }}" class="navbar-link">Logout</a>.</p>
{% else %}
      <p class="navbar-text navbar-right"><a href="{{ url_for('login') }}" class="navbar-link">Login</a></p>
{% endif %}
    </div>
  </nav>
  <div class="container">
  {%- with messages = get_flashed_messages(with_categories=True) %}
  {%- if messages %}
    <div class="row">
      <div class="col-md-12">
        {{utils.flashed_messages(messages)}}
      </div>
    </div>
  {%- endif %}
  {%- endwith %}
  {% block site %}{% endblock %}
  </div>
{%- endblock %}
