{%- extends "_template.html" %}
{%- import "bootstrap/wtf.html" as wtf %}

{% block site %}
<div class='page-header'>
  <h1>Available Carpools</h1>
</div>
<h3>Select a start and end location to find possible rides</h3>
<div id='map' class='map-wrapper' style='width: 100%; height: 400px;'></div>
<hr/>
<h2 style='text-align: center;'>~ OR ~</h2>
<hr/>
<h3>Select a start and/or end time to find possible rides</h3>
{{ wtf.quick_form(form) }}
<hr/>

<a class="btn btn-default" href="{{ url_for('new_carpool') }}" role="button">Add A Carpool</a>

<script>
    // Namespaced globals! :(
    carpool_starting_locations = {{ starting_locations|tojson }};
    carpool_ending_locations = {{ ending_locations|tojson }};
    document.getElementById('from_latitude').value = null;
    document.getElementById('from_longitude').value = null;
    document.getElementById('to_latitude').value = null;
    document.getElementById('to_longitude').value = null;
</script>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Capacity</th>
      <th>Leaving</th>
      <th>Going To</th>
    </tr>
  </thead>
  <tbody>
{% for pool in pools %}
    <tr>
      <td>{{ pool.max_riders - pool.riders|length }} available</td>
      <td><a href="{{ url_for('carpool_details', carpool_id=pool.id) }}">{{ pool.from_place }} at {{ pool.leave_time }}</a></td>
      <td>{{ pool.to_place }} returning at {{ pool.return_time }}</td>
    </tr>
{% else %}
    <tr><td colspan='3'>No rides yet!</td></tr>
{% endfor %}
  </tbody>
</table>
{% endblock %}
