{%- extends "_template.html" %}
{%- import "bootstrap/wtf.html" as wtf %}

{% block site %}
<div class='page-header'>
  <h1>Available Carpools</h1>
</div>

{{ wtf.quick_form(form) }}
<hr/>

<a class="btn btn-default" href="{{ url_for('new_carpool') }}" role="button">Add A Carpool</a>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Capacity</th>
      <th>Leaving</th>
      <th>Going To</th>
    </tr>
  </thead>
  <tbody>
{% for pool in pools %}
    <tr>
      <td>{{ pool.max_riders - pool.riders|length }} available</td>
      <td><a href="{{ url_for('carpool_details', carpool_id=pool.id) }}">{{ pool.from_place }} at {{ pool.leave_time }}</a></td>
      <td>{{ pool.to_place }} returning at {{ pool.return_time }}</td>
    </tr>
{% else %}
    <tr><td colspan='3'>No rides yet!</td></tr>
{% endfor %}
  </tbody>
</table>
{% endblock %}
