{%- extends "_template.html" %}
{%- import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{super()}}
<style>
    #map {
        height: 400px;
        width: 100%;
    }
</style>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 38.518, lng: -97.328},
        zoom: 4
    });

    var dest_input = document.getElementById('address');
    var dest_marker = new google.maps.Marker({
        visible: false,
        map: map
    });
    var dest_ac = new google.maps.places.Autocomplete(dest_input, {
        componentRestrictions: {country: 'us'}
    });
    dest_ac.bindTo('bounds', map);
    dest_ac.addListener('place_changed', function() {
        var place = dest_ac.getPlace();
        console.log(place);
        dest_marker.setVisible(false);

        if (!place.geometry) {
            console.log("No details available for from autocomplete: '" + place.name + "'");
            return;
        }

        document.getElementById('destination_lat').value = place.geometry.location.lat();
        document.getElementById('destination_lon').value = place.geometry.location.lng();

        dest_marker.setPosition(place.geometry.location);
        dest_marker.setVisible(true);
    });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key={{config.get('GOOGLE_MAPS_API_KEY')}}&libraries=places&callback=initMap" async defer></script>
{% endblock %}

{% block site %}
<div class="content">
    <div class="fullscreen">
    <h4><a href="{{ url_for('admin.admin_index') }}">Admin</a>&nbsp;&raquo;&nbsp;
        <a href="{{ url_for('admin.destinations_list') }}">Destinations</a>&nbsp;&raquo;&nbsp;
        Add a Destination
    </h4>
    <h1>New Destination</h1>

{%- with messages = get_flashed_messages(with_categories=True) %}
{%- if messages %}
<div class="error-messages">
    {% for cat, msg in messages %}
    <div class="message {{ cat }}">{{ msg }}</div>
    {% endfor %}
</div>
{%- endif %}
{%- endwith %}

<form class='form' method='post'>
{{ form.hidden_tag() }}
<div class='row'>
    <div class='col-md-12'>
        <div id='map'></div>
    </div>
</div>
<div class='row'>
    <div class='col-md-8'>
        {{ form.destination_lat }}
        {{ form.destination_lon }}
        {{ wtf.form_field(form.name) }}
        {{ wtf.form_field(form.address) }}
        {{ form.submit(_class='primary') }}
    </div>
</div>
</form>
</div>
</div>
{% endblock %}
