{%- extends "admin/destinations/add.html" %}

{% block load_map %}
{{ super() }}
function getFeature() {
    var feature = new google.maps.Data.Feature();
    var lat_lng = new google.maps.LatLng({lat:{{form.destination_lat.data}},
        lng:{{form.destination_lon.data}}});

    feature.setGeometry(lat_lng);
    return feature;
}

body=document.getElementsByTagName("BODY")[0];
body.onload=function() {
    var feature = getFeature();
    map.data.add(feature);
}
{% endblock %}


{% block clear_map %}
{{ super() }}
map.data.forEach(function(feature) {
    map.data.remove(feature);
})
{% endblock %}

{% block header %}
<h1>Edit {{form.name.data}}</h1>
{% endblock %}


{% block delete_button%}
{{ wtf.form_field(form.delete) }}
{{ wtf.form_field(form.cancel) }}
{% endblock %}

{% block additional_information %}
<div class='row' style="padding-top: 30px">
    <p>
        {% set count=dest.carpools|length %}
        {% if count == 1 %}
        There is <strong>{{ count }} carpool</strong> using this destination.  <strong>This carpool will be affected if you modify or delete this destination</strong>.
        {% else %}
        There are <strong>{{ count }} carpools</strong> using this destination.  <strong>These carpools will be affected if you modify or delete this destination</strong>.
        {% endif %}
        <ul>
            {% for carpool in dest.carpools %}
            <li><a href="{{ url_for('carpool.details', uuid=carpool.uuid) }}">{{ carpool.from_place }} to {{ carpool.to_place }}</a></li>
            {% endfor %}
        </ul>
    </p>
</div>
{% endblock %}
