{%- extends "_template.html" %}
{%- import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{super()}}
<style>
    #map {
        height: 400px;
        width: 100%;
    }
</style>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 38.518, lng: -97.328},
        zoom: 4
    });

    var dest_input = document.getElementById('address');
    var dest_marker = new google.maps.Marker({
        visible: false,
        map: map
    });

    if (document.getElementById('destination_lat').value) {
        var lat = +document.getElementById('destination_lat').value;
        var lon = +document.getElementById('destination_lon').value;
        dest_marker.setPosition({lat: lat, lng: lon});
        dest_marker.setVisible(true);
    }

    var dest_ac = new google.maps.places.Autocomplete(dest_input, {
        componentRestrictions: {country: 'us'}
    });
    dest_ac.bindTo('bounds', map);
    dest_ac.addListener('place_changed', function() {
        var place = dest_ac.getPlace();
        dest_marker.setVisible(false);

        if (!place.geometry) {
            console.log("No details available for from autocomplete: '" + place.name + "'");
            return;
        }

        document.getElementById('destination_lat').value = place.geometry.location.lat();
        document.getElementById('destination_lon').value = place.geometry.location.lng();

        dest_marker.setPosition(place.geometry.location);
        dest_marker.setVisible(true);
    });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key={{config.get('GOOGLE_MAPS_API_KEY')}}&libraries=places&callback=initMap" async defer></script>
{% endblock %}

{% block site %}
<div class="content">
    <div class="fullscreen">
      {% include '_flash_messages.html' %}

    <h4><a href="{{ url_for('admin.admin_index') }}">Admin</a>&nbsp;&raquo;&nbsp;
        <a href="{{ url_for('admin.destinations_list') }}">Destinations</a>&nbsp;&raquo;&nbsp;
        Edit Destination
    </h4>
    <h1>{{ dest.name }}</h1>

<p>
    <form method="POST" action="{{ url_for('admin.destinations_toggle_hidden', uuid=dest.uuid) }}">
        <a class="btn btn-danger" href="{{ url_for('admin.destinations_delete', uuid=dest.uuid) }}">Delete This Destination</a>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        {% if dest.hidden %}
        <button class="btn btn-warning" type="submit" name="toggle_button">Unhide Destination</button>
        {% else %}
        <button class="btn btn-warning" type="submit" name="toggle_button">Hide Destination</button>
        {% endif %}
    </form>
</p>

<form class='form' method='post'>
    {{ form.hidden_tag() }}
    <div class='row'>
        <div class='col-md-12'>
            <div id='map'></div>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-8'>
            {{ form.destination_lat }}
            {{ form.destination_lon }}
            {{ wtf.form_field(form.name) }}
            {{ wtf.form_field(form.address) }}
            <p>
                {% set count=dest.carpools|length %}
                {% if count == 0 %}
                There are <strong>no carpools</strong> using this destination.
                {% elif count == 1 %}
                There is <strong>{{ count }} carpool</strong> using this destination. <strong>This carpool will be affected if you modify or delete this destination</strong>.
                {% else %}
                There are <strong>{{ count }} carpools</strong> using this destination. <strong>These carpools will be affected if you modify or delete this destination</strong>.
                {% endif %}
                <ul>
                    {% for carpool in dest.carpools %}
                    <li><a href="{{ url_for('carpool.details', uuid=carpool.uuid) }}">{{ carpool.from_place }} to {{ carpool.to_place }}</a></li>
                    {% endfor %}
                </ul>
            </p>
            <input class="btn btn-primary" id="submit" name="submit" type="submit" value="Save">
            <a class="btn btn-default" href="{{ url_for('admin.destinations_list') }}">Nevermind, Go Back</a>
        </div>
    </div>
</form>
</div>
</div>
{% endblock %}
