{%- extends "_template.html" %}
{%- import "bootstrap/wtf.html" as wtf %}

{% block site %}
<div class="content">
    <div class="fullscreen">
    <h4><a href="{{ url_for('admin.admin_index') }}">Admin</a>&nbsp;&raquo;&nbsp;
        Destinations
    </h4>
    <h1>Your Destinations</h1>

<p>
    <a class="btn btn-default" href="{{ url_for('admin.destinations_add') }}" role="button">Add a Location</a>
</p>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Hidden?</th>
        </tr>
    </thead>
    <tbody id='search-results'>
{% for dest in destinations.items %}
        <tr>
            <td><a href="{{ url_for('admin.destinations_show', uuid=dest.uuid) }}">{{ dest.name }}</a></td>
            <td>{{ dest.address }}</td>
            <td>{{ dest.hidden }}</td>
        </tr>
{% endfor %}
    </tbody>
</table>
</table>

{% if destinations.has_prev %}
<a href="{{ url_for('admin.destinations_list', page=destinations.prev_num) }}">&lt;&lt; Newer destinations</a>
{% else %}
&lt;&lt; Newer destinations
{% endif %} |

{% if destinations.has_next %}
<a href="{{ url_for('admin.destinations_list', page=destinations.next_num) }}">Older destinations &gt;&gt;</a>
{% else %}
Older destinations &gt;&gt;
{% endif %}
</div>
</div>
{% endblock %}
