{%- extends "admin/_template.html" %}
{%- import "bootstrap/wtf.html" as wtf %}

{% block site %}
{{super()}}
<h3>Destinations</h3>

<p>
    <a class="btn btn-default" href="{{ url_for('admin.destinations_delete', uuid=dest.uuid) }}" role="button">Delete</a>
{% if dest.hidden %}
    <a class="btn btn-default" href="{{ url_for('admin.destinations_unhide', uuid=dest.uuid) }}" role="button">Unhide</a>
{% else %}
    <a class="btn btn-default" href="{{ url_for('admin.destinations_hide', uuid=dest.uuid) }}" role="button">Hide</a>
{% endif %}
</p>

<dl class="dl-horizontal">
    <dt>Created At</dt>
    <dd>{{ dest.created_at }}</dd>

    <dt>Name</dt>
    <dd>{{ dest.name }}</dd>

    <dt>Address</dt>
    <dd>{{ dest.address }}</dd>

    <dt>Lat/Lon</dt>
    <dd>{{ dest.point }}</dd>
</dl>

{% endblock %}
