<p>Hi {{carpool.driver.name}},</p>

<p>We wanted to let you know that {{rider.name}} has requested a ride with you
in the car leaving from {{carpool.leave_place}} at {{carpool.leave_time | humanize }}.</p>

<p>Please go to {{url_for('carpool.details', uuid=carpool.uuid, _external=True)}} and approve or deny this request.</p>

<p>Thanks!</p>

<p>SAFETY TIPS
    
• Have a live phone conversation with your passengers before the pickup
• Check out your passengers’ social media profiles
• Make sure a friend or family member knows where you’re going and with who; check in with them at stages of your trip and canvassing
• Charge your phone

CANVASSING TIPS
• Charge your phone
• Get the volunteer coordinator’s phone number
• Listen carefully to all instructions
• If a house or encounter with a constituent makes you feel uncomfortable for any reason, retreat, move on, 
  and alert the local volunteer coordinator
• Bring water and a snack</p>
