{%- extends "_template.html" %}

{% block scripts %}
{{super()}}
<script src="https://cdn.ravenjs.com/2.3.0/raven.min.js"></script>
{% endblock %}

{% block site %}


<div class="content">

	<div class="fullscreen">
		<h4>500: Internal server error</h4>
		<h1>Well, this is awkward.</h1>
		<p>We'll have to think of something funnier to write here, eventually. In the meantime, try going back <a href="{{ url_for('carpools.index') }}">home</a>.</p>
	</div>

</div>

{% if event_id %}
<script>
Raven.showReportDialog({
    eventId: '{{ event_id }}',
    dsn: '{{ public_dsn }}'
});
</script>
{% endif %}

{% endblock %}
