{%- extends "bootstrap/base.html" %}
{% import "bootstrap/utils.html" as utils %}

{% block title %}Share Your Ride{% endblock %}

{% block scripts %}
{{super()}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js" integrity="sha256-1hjUhpc44NwiNg8OwMu2QzJXhD8kcj+sJA3aCQZoUjg=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js" integrity="sha256-5YmaxAwMjIpMrVlK84Y/+NjCpKnFYa8bWWBbUHSBGfU=" crossorigin="anonymous"></script>
<script src="{{url_for('static', filename='js/site.js')}}"></script>
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" integrity="sha256-yMjaV542P+q1RnH6XByCPDfUFhmOafWbeLPmqKh11zo=" crossorigin="anonymous" />
{% endblock %}

{% import "bootstrap/fixes.html" as fixes %}
{% block head %}
{{super()}}
{{fixes.ie8()}}
{%- endblock %}

{% block content %}
  <nav class="navbar navbar-default">
    <div class="container">
      <a class="navbar-brand" href="{{ url_for('carpool.index') }}">Carpools</a>
{% if current_user.is_authenticated %}
      <p class="navbar-text navbar-right">Signed in{% if current_user.name %} as {{ current_user.name }}{% endif %}&nbsp;<a href="{{ url_for('auth.profile') }}" class="navbar-link"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Profile</a>&nbsp;<a href="{{ url_for('auth.logout') }}" class="navbar-link"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Logout</a></p>
{% else %}
      <p class="navbar-text navbar-right"><a href="{{ url_for('auth.login') }}" class="navbar-link"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Login</a></p>
{% endif %}
    </div>
  </nav>
  <div class="container">
  {%- with messages = get_flashed_messages(with_categories=True) %}
  {%- if messages %}
    <div class="row">
      <div class="col-md-12">
        {{utils.flashed_messages(messages)}}
      </div>
    </div>
  {%- endif %}
  {%- endwith %}
  {% block site %}{% endblock %}
  </div>
{%- endblock %}
