{%- extends "bootstrap/base.html" %}
{% import "bootstrap/utils.html" as utils %}

{% block title %}Nomad: Share your ride!{% endblock %}

{% block scripts %}
{{super()}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js" integrity="sha256-1hjUhpc44NwiNg8OwMu2QzJXhD8kcj+sJA3aCQZoUjg=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js" integrity="sha256-5YmaxAwMjIpMrVlK84Y/+NjCpKnFYa8bWWBbUHSBGfU=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/map-styles.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
<script type="text/javascript">
function updateHeaderSearchTarget() {
  var rideSelect = $("#ride-select").val();
  if (rideSelect == "find-ride") {
    $("#ride-select-form").attr("action", "{{ url_for('carpool.find') }}");
  } else if (rideSelect == "give-ride") {
    $("#ride-select-form").attr("action", "{{ url_for('carpool.new') }}");
  }
}

$(function() {
  var csrf_token = "{{ csrf_token() }}";

  $.ajaxSetup({
    beforeSend: function(xhr, settings) {
      if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
        xhr.setRequestHeader("X-CSRFToken", csrf_token);
      }
    }
  });

  $("#ride-select").change(function() {
    updateHeaderSearchTarget();
  });
});

function initMap() {
  var from_input = document.getElementById('locationQuery');
  var from_options = {
    types: ['(regions)'],
    componentRestrictions: {country: 'us'}
  };
  var from_ac = new google.maps.places.Autocomplete(from_input, from_options);
  from_ac.addListener('place_changed', function() {
    var chosen = from_ac.getPlace();
    $("#ride-select-lat").val(chosen.geometry.location.lat());
    $("#ride-select-lon").val(chosen.geometry.location.lng());
    $("#ride-select-form").submit();
  });

  if (typeof localInitMap === "function") {
    localInitMap();
  }
}

function doLogout() {
    $.post("{{ url_for('auth.logout') }}")
        .done(function (data) {
            location.href = data;
        });
}

</script>
<script src="https://maps.googleapis.com/maps/api/js?key={{config.get('GOOGLE_MAPS_API_KEY')}}&libraries=places&callback=initMap" async defer></script>
{% if config.get('INTERCOM_KEY') %}
<script>
  window.intercomSettings = {
    app_id: "{{config.get('INTERCOM_KEY')}}"
  };
</script>
<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/{{config.get('INTERCOM_KEY')}}';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
{% endif %}
{% if config.get('GOOGLE_ANALYTICS_ID') %}
<!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ config.get('GOOGLE_ANALYTICS_ID') }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ config.get("GOOGLE_ANALYTICS_ID") }}');
</script>
{% endif %}
{% endblock %}

{% block styles %}
{{super()}}
<link href="https://fonts.googleapis.com/css?family=Merriweather:400,700|Source+Sans+Pro:300,400,600,700" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" integrity="sha256-yMjaV542P+q1RnH6XByCPDfUFhmOafWbeLPmqKh11zo=" crossorigin="anonymous" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
{% if config.get('BRANDING_CSS_URL') %}
  <link rel="stylesheet" type="text/css" href="{{config.get('BRANDING_CSS_URL')}}">
{% endif %}

<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ url_for('static', filename='img/favicon/apple-touch-icon-144x144.png') }}" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ url_for('static', filename='img/favicon/apple-touch-icon-152x152.png') }}" />
<link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon/favicon-32x32.png') }}" sizes="32x32" />
<link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon/favicon-16x16.png') }}" sizes="16x16" />
<meta name="application-name" content="Nomad"/>
<meta name="msapplication-TileColor" content="#FFFFFF" />
<meta name="msapplication-TileImage" content="{{ url_for('static', filename='img/favicon/mstile-144x144.png') }}" />

{% endblock %}

{% import "bootstrap/fixes.html" as fixes %}
{% block head %}
{{super()}}
{{fixes.ie8()}}
{%- endblock %}

{% block content %}

<nav class="global-header">
  <div class="header-left">
    <div class="mobile-back-link">
      <a href="#"><div class="back-button"></div></a>
    </div>
    <div class="logo-container">
      <a href="{{ url_for('carpool.index') }}"><div class="logo generic"></div></a>
      <ul class="mobile-nav-bar">
        <li><a href="{{ url_for('carpool.index') }}">Home</a></li>
{% if current_user.is_authenticated %}
        <li><a href="{{ url_for('carpool.mine') }}">My rides</a></li>
{% endif %}
        <li><a href="{{ url_for('carpool.find') }}">Find a ride</a></li>
        <li><a href="{{ url_for('carpool.new') }}">Give a ride</a></li>
        <li class="divider"><a href="{{ config.get('BRANDING_PRIVACY_URL') }}">Privacy &amp; Terms</a></li>
{% if current_user.is_authenticated %}
        <li><a href="{{ url_for('auth.profile') }}">Profile</a></li>
        <li><a href="#" onClick="return doLogout()">Logout</a></li>
{% else %}
        <li><a href="{{ url_for('auth.login') }}">Login</a></li>
{% endif %}
        </ul>
    </div>
<!-- if this page is related to a find / give page -->
    <form id="ride-select-form" method="GET" action="{{ url_for('carpool.find') }}" class="header-search-bar">
      <input type="hidden" id="ride-select-lat" name="lat"></input>
      <input type="hidden" id="ride-select-lon" name="lon"></input>
      <select id="ride-select">
        <option value="find-ride">Find a ride&nbsp;&nbsp;&nbsp;</option>
        <option value="give-ride">Give a ride</option>
      </select>
      <span>near</span>
      <input type="text" name="q" id="locationQuery" placeholder="Zip code or City, State"/>
    </form>
<!-- end if -->
  </div>
  <ul class="nav-bar">
    <li class="active"><a href="{{ url_for('carpool.find') }}">Find a ride</a></li>
      <li><a href="{{ url_for('carpool.new') }}">Give a ride</a></li>
      <li><a href="{{ config.get('BRANDING_PRIVACY_URL') }}">Privacy &amp; Terms</a></li>
{% if current_user.is_authenticated %}
      <li><a href="{{ url_for('carpool.mine') }}">My rides</a></li>
{% endif %}
      <li class="nav-dropdown">
{% if current_user.is_authenticated %}
        <a class="arrow" href="#">{{ current_user.name }}</a>
{% else %}
        <a href="{{ url_for('auth.login') }}">Login</a>
{% endif %}
{% if current_user.is_authenticated %}
        <ul class="nav-bar-secondary">
          <li><a href="{{ url_for('auth.profile') }}">Profile</a></li>
          <li><a href="#" onClick="return doLogout()">Logout</a></li>
        </ul>
{% endif %}
      </li>
  </ul>
</nav>

{% block site %}{% endblock %}

{%- endblock %}
