{%- extends "bootstrap/base.html" %}
{% import "bootstrap/utils.html" as utils %}

{% block title %}Share Your Ride{% endblock %}

{% block scripts %}
{{super()}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js" integrity="sha256-1hjUhpc44NwiNg8OwMu2QzJXhD8kcj+sJA3aCQZoUjg=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js" integrity="sha256-5YmaxAwMjIpMrVlK84Y/+NjCpKnFYa8bWWBbUHSBGfU=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/map-styles.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
<script type="text/javascript">
function updateHeaderSearchTarget() {
  var rideSelect = $("#ride-select").val();
  if (rideSelect == "find-ride") {
    $("#ride-select-form").attr("action", "{{ url_for('carpool.find') }}");
  } else if (rideSelect == "give-ride") {
    $("#ride-select-form").attr("action", "{{ url_for('carpool.new') }}");
  }
}

$(function() {
  $("#ride-select").change(function() {
    updateHeaderSearchTarget();
  });
});

function initMap() {
  var from_input = document.getElementById('locationQuery');
  var from_options = {
    types: ['(regions)'],
    componentRestrictions: {country: 'us'}
  };
  var from_ac = new google.maps.places.Autocomplete(from_input, from_options);
  from_ac.addListener('place_changed', function() {
    var chosen = from_ac.getPlace();
    $("#ride-select-lat").val(chosen.geometry.location.lat());
    $("#ride-select-lon").val(chosen.geometry.location.lng());
    $("#ride-select-form").submit();
  });

  if (typeof localInitMap === "function") {
    localInitMap();
  }
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key={{config.get('GOOGLE_MAPS_API_KEY')}}&libraries=places&callback=initMap" async defer></script>
{% endblock %}

{% block styles %}
{{super()}}
<link href="https://fonts.googleapis.com/css?family=Merriweather:400,700|Source+Sans+Pro:300,400,600,700" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" integrity="sha256-yMjaV542P+q1RnH6XByCPDfUFhmOafWbeLPmqKh11zo=" crossorigin="anonymous" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% import "bootstrap/fixes.html" as fixes %}
{% block head %}
{{super()}}
{{fixes.ie8()}}
{%- endblock %}

{% block content %}
<nav class="global-header">
  <div class="header-left">
    <a href="{{ url_for('carpool.index') }}"><div class="logo"></div></a>
<!-- if this page is related to a find / give page -->
    <form id="ride-select-form" method="GET" action="{{ url_for('carpool.find') }}">
      <input type="hidden" id="ride-select-lat" name="lat"></input>
      <input type="hidden" id="ride-select-lon" name="lon"></input>
      <select id="ride-select">
        <option value="find-ride">Find a ride&nbsp;&nbsp;&nbsp;</option>
        <option value="give-ride">Give a ride</option>
      </select>
      <span>near</span>
      <input type="text" name="q" id="locationQuery" placeholder="Zip code or City, State"/>
    </form>
<!-- end if -->
  </div>
  <ul class="nav-bar">
    <li class="active"><a href="{{ url_for('carpool.find') }}">Find a ride</a></li>
    <li><a href="{{ url_for('carpool.new') }}">Give a ride</a></li>
    <li><a href="#">About</a></li>
    <li><a href="{{ url_for('auth.privacy') }}">Privacy Policy</a></li>
    <li><a href="{{ url_for('carpool.mine') }}">My Rides</a></li>
    <li class="nav-dropdown">
      <a class="arrow" href="#">
        {% if current_user.is_authenticated %}{{ current_user.name }}{% else %}<a href="{{ url_for('auth.login') }}">Login</a>{% endif %}
      </a>
      <ul class="nav-bar-secondary">
        <li><a href="{{ url_for('auth.profile') }}">Profile</a></li>
        <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
      </ul>
    </li>
  </ul>
</nav>

{% block site %}{% endblock %}

{%- endblock %}
