{%- extends "_template.html" %}
{%- import "bootstrap/wtf.html" as wtf %}

{% block site %}
<div class='page-header'>
    <h1>Carpool Details</h1>
</div>

<p>
    {% if pool.current_user_is_driver %}You want{% else %}Someone wants{% endif %} to drive from <strong>{{ pool.from_place }}</strong> to <strong>{{ pool.to_place }}</strong> on <strong>{{ pool.leave_time.date() }}</strong> at <strong>{{ pool.leave_time.time() }}</strong>. They're planning on returning at <strong>{{ pool.return_time.time() }}</strong> on <strong>{{ pool.return_time.date() }}</strong>.
</p>

<p>
{%- if pool.seats_available > 1 %}
    There are {{ pool.seats_available }} seats available in this carpool.
{%- elif pool.seats_available == 1 %}
    There is 1 seat available in this carpool.
{%- else %}
    There are no seats available in this carpool.
{%- endif %}
</p>

{% set current_user_ride_request = pool.get_current_user_ride_request() %}
{% if current_user_ride_request %}
<a class="btn btn-default" href="{{ url_for('carpool.modify_ride_request', carpool_id=pool.id, request_id=current_user_ride_request.id, action='cancel') }}" role="button">Cancel your seat request</a>

{% elif pool.current_user_is_driver %}
<a class="btn btn-default" href="{{ url_for('carpool.cancel', carpool_id=pool.id) }}" role="button">Cancel your carpool</a>

<div>
<h3>Ride Requests</h3>
<ul>
{% for request in pool.get_ride_requests_query() %}
    <li>{{ request.person.name }}&nbsp;<small>
        {%- if request.status == 'requested' %}
        (Waiting for your response:&nbsp;
        <a href="{{ url_for('carpool.modify_ride_request',
                            action='approve',
                            carpool_id=pool.id,
                            request_id=request.id) }}">Approve</a>,&nbsp;
        <a href="{{ url_for('carpool.modify_ride_request',
                            action='deny',
                            carpool_id=pool.id,
                            request_id=request.id) }}">Deny</a>)
        {%- elif request.status == 'approved' %}
        (You approved their request:&nbsp;
        <a href="{{ url_for('carpool.modify_ride_request',
                            action='deny',
                            carpool_id=pool.id,
                            request_id=request.id) }}">Deny</a>)
        {%- elif request.status == 'denied' %}
        (You denied their request:&nbsp;
        <a href="{{ url_for('carpool.modify_ride_request',
                            action='approve',
                            carpool_id=pool.id,
                            request_id=request.id) }}">Approve</a>)
        {%- endif %}
        </small>
    </li>
{% endfor %}
</ul>
</div>

{% else %}
<a class="btn btn-default" href="{{ url_for('carpool.new_rider', carpool_id=pool.id) }}" role="button">Request a seat</a>
{% endif %}

{% endblock %}
