{%- extends "_template.html" %}

{% block site %}

<div class="content splash-only">

	<div class="fullscreen jumbo">
		<div class="interstitial-page">
			<div class="bg-image"></div>
			<h4>Share your ride</h4>
			<h1>Virginia has 100 districts that need your help this November!</h1>
			<h2>Join your neighbors' carpools to save time, money, and the environment.</h2>
			<form method="GET" action="{{ url_for('carpool.find') }}"">
				<input type="text" name="q" id="locationQuery" placeholder="Zip code or City, State"> <input class="primary" type="submit" value="Find a ride">
			</form>
			<p>Can you drive? <a href="{{ url_for('carpool.new') }}">Start your own carpool</a> instead.</p>
		</div>
	</div>

	<div class="fullscreen jumbo-second">
		<div class="interstitial-page">
			<h3>These candidates are currently looking for volunteers:</h3>
			<p><a href="https://www.kellyforva.com/" target="_blank">Kelly DeLucia</a> - VA House of Delegates District 96</p>
			<h3 class="top-border">About Nomad</h3>
			<p>Nomad was built by Ragtag, a team of tech volunteers who help activists, organizers, non-profits, and candidates break down tech barriers making it easier to achieve their organizing goals. Nomad lets volunteers help their fellow volunteers get to where they can have the biggest impact.</p>
			<p>Use Nomad to get volunteers to your campaign or find out more about Ragtag: <a href="ragtag.org/nomad">http://ragtag.org/nomad</a>.</p>
			<h3 class="top-border">Questions?</h3>
			<p>Contact us somehow.</p>
		</div>
	</div>

</div>

{% endblock %}
