{%- extends "_template.html" %}

{% block site %}

<div class="content splash-only">

    <div class="fullscreen jumbo">
        <div class="interstitial-page">
            <div class="bg-image"></div>
            <h4>Share your ride</h4>
            <h1>{{ config.get('BRANDING_HEADLINE_1') }}</h1>
            <h2>{{ config.get('BRANDING_HEADLINE_2') }}</h2>
            <form method="GET" action="{{ url_for('carpool.find') }}"">
                <input type="text" name="q" placeholder="Zip code or City, State"> <input class="btn btn-default" type="submit" value="Find a ride">
            </form>
            <p>Can you drive? <a href="{{ url_for('carpool.new') }}">Start your own carpool</a> instead.</p>
        </div>
    </div>

    <div class="fullscreen jumbo-second">
        <div class="interstitial-page">

            <h3 class="top-border">Tips for a Successful Carpool</h3>
            <ul>
                <li>Have a real live phone conversation with your driver or passengers before the day you’re scheduled to carpool. Have a conversation about expectations - who will chip in for gas? Who’s in charge of tunes? Who’s in charge of snacks?</li>
                <li>Check out your driver’s or passengers’ social media profile(s) ahead of time.</li>
                <li>Make sure a friend or family member knows where you’re going and who you’re riding with; set times to check in with them periodically during your carpool and canvass day.</li>
                <li>Charge your phone before you leave on your trip. Bring your charger and an extra battery, just in case!</li>
            </ul>

            <h3 class="top-border">Canvassing Tips</h3>
            <ul>
                <li>Make sure your phone is fully charged before heading out on your canvass.</li>
                <li>Make sure you’ve got your volunteer coordinator’s phone number in your (fully charged) phone.</li>
                <li>Listen carefully to all instructions from the campaign organizers.</li>
                <li>Stay safe! If you feel uncomfortable at any door, or with any person you encounter while canvassing, leave. Remember to let your volunteer coordinator know.</li>
                <li>Don’t forget to bring water and snacks.</li>
                <li>Wear comfy, durable shoes. You’re going to need them!</li>
            </ul>

            <h3 class="top-border">Contact</h3>
            <p>For questions about carpools, canvasses, schedules, canvas locations, etc. please email the {{ config.get('BRANDING_ORG_NAME') }} team for help: <a href="mailto:{{ config.get('BRANDING_SUPPORT_EMAIL') }}">{{ config.get('BRANDING_SUPPORT_EMAIL') }}</a>.</p>
            <p>For questions about how to use the Nomad tool, email <a href="mailto:support@ragtag.org">support@ragtag.org</a> or click on the “help” button below.</p>
            <p>You can find the Terms of Use and Privacy Policy <a href="{{ config.get('BRANDING_PRIVACY_URL') }}">here</a>.</p>
	    <!--Zendesk support widget-->
	    <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=19972695-e94b-40d7-be27-3f1c22dc0bc5"> </script>


            <h3 class="top-border">About Nomad</h3>
            <p>Nomad was built by Ragtag, a team of tech volunteers who help activists, organizers, non-profits, and candidates break down tech barriers making it easier to achieve their organizing goals. Nomad lets volunteers help their fellow volunteers get to where they can have the biggest impact.</p>
            <p>Use Nomad to get volunteers to your campaign or find out more about Ragtag: <a href="http://ragtag.org/nomad" target="_blank">http://ragtag.org/nomad</a>.</p>

        </div>
    </div>

</div>

{% endblock %}
