{%- extends "_template.html" %}

{% block site %}

<div class="content splash-only">

	<div class="fullscreen jumbo driver-splash">
		<div class="interstitial-page">
			<div class="bg-image"></div>
			<h4>Share your ride</h4>
			<h1>Drivers: Virginia has 100 districts that need your help this November!</h1>
			<h2>Start a carpool to a location that needs volunteers:</h2>
			<form method="GET" action="{{ url_for('carpool.find') }}"">
				<input type="text" name="q" id="locationQuery" placeholder="Zip code or City, State"> <input class="primary" type="submit" value="Find a location">
			</form>
			<p>Can't drive? <a href="{{ url_for('carpool.index') }}">Join someone else's carpool</a> instead.</p>
			
		</div>
	</div>

	<div class="fullscreen jumbo-second">
		<div class="interstitial-page">
			<h3>These candidates are currently looking for volunteers:</h3>
			<p><a href="https://www.kellyforva.com/" target="_blank">Kelly DeLucia</a> - VA House of Delegates District 96</p>
			<h3 class="top-border">About Nomad</h3>
			<p>Nomad is a joint effort between the <a href="https://vademocrats.org" target="_blank">Democratic Party of Virginia</a> and <a href="https://ragtag.org/" target="_blank">Ragtag</a>, a team of tech volunteers that helps activists, organizers, non-profits, and candidates break down tech barriers to achieving their organizing goals.</p>
			<br>
			<p>Learn more:</p>
			<br>
			<div>
				<a href="https://vademocrats.org" target="_blank"><div class="inline-image vadems"></div></a>
				<a href="https://ragtag.org/" target="_blank"><div class="inline-image ragtag"></div></a>
			</div>
			<h3 class="top-border">Questions?</h3>
			<p>Contact us somehow.</p>
		</div>
	</div>

</div>

{% endblock %}
